<h1>Métiers de l'agriculture</h1>


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Aquaculteur / Aquacultrice
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <div class="accordion-body-box">
      <div class="element-left">
        <strong>Description métier</strong><br>
        <br>
        L’aquaculteur élève des poissons (poissons de mer ou d’eau douce), des coquillages (huitres, moules, palourdes), des crustacés ou des alevins. Il peut également cultiver des algues.  <br>
        <br>
        Tout au long du processus, il veille à la sélection et à la reproduction des espèces, au suivi de la croissance (soins, nourrissage) et pratique des contrôles rigoureux (qualité de l’eau, détection de maladies et parasites). Toutes ces étapes s’effectuent dans le respect des règles sanitaires et environnementales. <br>
        <br>
        Il procède ensuite à la commercialisation et à la vente des produits (lavage, triage, emballage, étiquetage).<br>
        <br>
        Selon la taille de l’exploitation aquacole, on peut distinguer différents niveaux de responsabilité.<br>
        <br>
        L’ouvrier aquacole participe aux travaux courants de l’entreprise aquacole : nourrissage, tri, calibrage, contrôle des bassins. <br>
        <br>
        Le technicien aquacole veille à donner aux poissons, coquillages et algues les meilleures conditions de développement possibles pour satisfaire les besoins qualitatifs et quantitatifs du marché. <br>
        <br>
        Le chef d’exploitation aquacole est véritable chef d’entreprise. Il s'occupe de l'implantation, de l'organisation, de la stratégie et de la gestion des installations. Il gère le personnel, les moyens de production et la comptabilité financière. Enfin, il organise la commercialisation de la production. Son emploi peut relever de statuts juridiques divers : salarié, gérant, associé dans une structure sociétaire familiale ou non, ou encore exploitant individuel. A ce stade de responsabilités des qualités managériales, des compétences en gestion et en communication sont indispensables. <br>
        <br>
        L’aquaculteur travaille presque toujours en plein air, sur l’eau dans une barge, ou dans l’eau. Soumis aux aléas climatiques et aux marées ses horaires sont irréguliers. Ciré, bottes ou cuissardes et gants de caoutchouc constituent son « uniforme ».<br>
        <br>
        Il peut aussi exercer dans des laboratoires de recherche comme ceux de l’Institut français de recherche pour l’exploitation de la mer (Ifremer). <br>
       <br>
        </div>
        
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Arboriculteur / Arboricultrice
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
   <div class="accordion-body-box">
      <div class="element-left">
        <strong>Description métier</strong><br>
        <br>
        L’arboriculteur / arboricultrice plante et entretient des arbres de toutes espèces. Il/elle apporte les soins nécessaires à leur épanouissement.<br>
        <br>
        Il connaît les différentes espèces végétales et leurs besoins. Il les nourrit (irrigation, engrais). Certains les protègent contre les maladies et les mauvaises herbes à l’aide d’insecticides ou de désherbants, d’autres appliquent les principes de l’arboriculture biologique.<br>
        <br>
        L’arboriculteur taille ses arbres au bon moment en respectant leur forme et en tenant compte de leur vigueur et de l’époque de floraison. Lorsqu’il s’agit d’arbres fruitiers (pommier, poirier châtaignier…), il effectue des tailles de protection. Elles sont différentes suivant l’espèce et la variété<br>
        <br>
        Il participe à la cueillette, sait comment procéder pour manipuler les fruits sans les abîmer. Il remplit les caisses, trie les fruits selon la qualité, la forme et le poids (calibrage). Il les emballe avant de les expédier aux centres de distribution.<br>
        <br>
        Il effectue tous les travaux d’entretien du verger et de préparation des sols. Il utilise des outils (sécateur électrique, échenilloir pour couper en hauteur…) et conduit du matériel agricole.<br>
        <br>
        L’arboriculteur est bon observateur pour détecter la présence d’animal nuisible ou le début d’une maladie. Il est autonome dans son travail. Il doit s’adapter facilement quand il passe d’un type d’arbres à un autre selon la météo et la saison.<br>
        <br>
        L’arboriculteur, ouvrier arboricole quand il est salarié, fait le plus souvent partie d’une équipe. Il travaille presque toujours en plein air. Suivant les cas, il est debout, accroupi et dans des positions parfois inconfortables (bras en hauteur).<br>
        <br>
        Il travaille au rythme des saisons, le week-end et les jours fériés, sous la responsabilité d’un chef d’équipe ou du chef d’exploitation.<br>
        <br>
        </div>
        
        </div>
      </div>      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Caviste
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Chef / Cheffe d'exploitation laitière
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

   <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Chef / Cheffe de culture
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

     <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Conchyliculteur / Conchylicultrice
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

       <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Conducteur / Conductrice d'engins d'exploitation agricole
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

         <div class="accordion-item">
    <h2 class="accordion-header" id="headingHeigt">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeigt" aria-expanded="false" aria-controls="collapseHeigt">
        Conducteur / Conductrice d'engins forestiers
      </button>
    </h2>
    <div id="collapseHeigt" class="accordion-collapse collapse" aria-labelledby="headingHeigt" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

           <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        Conseiller agricole / Conseillère agricole
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

               <div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        Horticulteur / Horticultrice
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

                 <div class="accordion-item">
    <h2 class="accordion-header" id="headingEleven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        Ingénieur / Ingénieure agronome
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

                   <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwelve">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
        Ingénieur / Ingénieure de recherche produit
      </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

                     <div class="accordion-item">
    <h2 class="accordion-header" id="headingThirteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
        Ingénieur / Ingénieure des ponts, des eaux et forêts
      </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

                       <div class="accordion-item">
    <h2 class="accordion-header" id="headingFourteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
        Jardinier / Jardinière
      </button>
    </h2>
    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

</div>