// Place all the styles related to the secteurs/all controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.Agriculture {
    background-image: url(agriculture.jpg);
    background-position: center;
}

.espacevert {
    background-image: url(espacevert.jpg);
    background-position: center;
}

.animals {
    background-image: url(animaux.png);
    background-position: center;
}

.art {
    background-image: url(art.png);
    background-position: center;
}

.banque {
    background-image: url(banque.png);
    background-position: center;
}

.commerce {
    background-image: url(commerce.jpg);
    background-position: center;
}

.communication {
    background-image: url(communication.png);
    background-position: center;
}

.restauration {
    background-image: url(restauration.png);
    background-position: center;
}

.batiment {
    background-image: url(batiment.png);
    background-position: center;
}

.tourisme {
    background-image: url(toursime.png);
    background-position: center;
}

.industrie {
    background-image: url(industrie.png);
    background-position: center;
}

.maintenance{
    background-image: url(maintenance.png);
    background-position: center;
}

.service {
    background-image: url(service.png);
    background-position: center;
}

.spectacle {
    background-image: url(spectacle.png);
    background-position: center;
}

.support {
    background-image: url(support.png);
    background-position: center;
}

.transport {
    background-image: url(transport.png);
    background-position: center;
}

.collectivite {
    background-image: url(collectivite.png);
    background-position: center;
}

.servicePublic {
    background-image: url(servicepublic.png);
    background-position: center;
}

.association {
    background-image: url(association.png);
    background-position: center;
}

.sante {
    background-image: url(sante.png);
    background-position: center;
}