// Place all the styles related to the secteurs/all controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.Agriculture {
    background-image: url(agriculture.jpg);
    background-position: center;
}

.espacevert {
    background-image: url(espacevert.jpg);
    background-position: center;
}

.animals {
    background-image: url(animaux.png);
    background-position: center;
}

.art {
    background-image: url(art.png);
    background-position: center;
}