<h1 class="h2Title"><span class="colorLetters">Mentions</span> légales</h1>


<div class="containerLegalnotice">

    <h3>Editeur du site</h3>

    <br>
    <p>Le site <strong>quivamaider.com</strong> est édité par le GROUPEMENT D’INTÉRÊT PUBLIC RÉUSSIR EN SAMBRE AVESNOIS.</p>
    <br>
    <p>Siège social : 20 avenue Alphonse de Lamartine, BP 40247, 59607 – Maubeuge Cedex</p>
    <p>Téléphone : 03 66 32 32 00 – Email : <strong>resa@gipreussir.fr</strong></p>
    <br>
    <h3>Domaine et hébergeur</h3>
    <p>Le nom de domaine est géré par le <strong>GROUPEMENT D’INTÉRÊT PUBLIC RÉUSSIR EN SAMBRE AVESNOIS</strong>, 20 avenue Alphonse de Lamartine, BP 40247, 59607 – Maubeuge Cedex</p>
    <br>
    <p>L’hebergeur du site est <strong>OVH</strong></p>
    <p>SAS au capital de 10 069 020 €</p>
    <p>RCS Lille Métropole 424 761 419 00045</p>
    <p>Code APE 2620Z</p>
    <p>N° TVA : FR 22 424 761 419</p>
    <p>Siège social : 2 rue Kellermann, 59100 Roubaix – France</p>
    <br>
    <h3>Données personnelles</h3>

    <strong>1. Responsable de traitement</strong>

    <p>Le responsable de traitement est Réussir en Sambre Avesnois représenté par son Délégué à la protection des données Ahmar Djaou. Une question ? En savoir plus ? Vous voulez exercer vos droits ?</p>
    <p>
        <ul>
            <li>Par courrier : 20 Avenue Alphonse de Lamartine, 59607 Maubeuge Cedex – BP 40247</li>
            <li>Par mail : <strong>dpo@gipreussir.fr</strong>  (uniquement pour tout ce qui touche au traitement de vos données personnelles)</li>
        </ul>
    </p>
    <br>

    <strong>2. Traitement de vos données personnelles</strong>

    <p>Le traitement de données à caractère personnel mis en œuvre dans le cadre de l’action GROUPEMENT D’INTÉRÊT PUBLIC RÉUSSIR EN SAMBRE AVESNOIS est établi en conformité avec les dispositions du Règlement général pour la protection des données à caractère personnel (RGPD) n°2016/679 du Parlement européen et du Conseil du 27 avril 2016 et de la loi n°78-17 du 6 janvier 1978 dite « Informatique et libertés » dans sa dernière version.</p>
    <p>Le traitement des données est fondé sur le consentement.</p>
    <p>Ce traitement a pour objectif de collecter les informations nécessaires à la gestion des demandes du public (formulaire de contact) et à l’orientation vers les services et personnes compétentes.</p>
    <br>
    <p>Vos données sont :</p>
    <p>
        <ul>
            <li>Communiquées aux services internes de Réussir en Sambre.</li>
        </ul>
    </p>
    <br>
    <p>Vos données ne sont pas :</p>
    <p>
        <ul>
            <li>Vendues ou utilisées pour une finalité autre que celle évoquée précédemment.</li>
            <li>Transférées vers un pays tiers à l’Union Européenne ou une organisation internationale.</li>
        </ul>
    </p>
    <br>

    <strong>3. Mention des droits de la personne concernée par le traitement</strong>

    <br>
    <p>Dans le cadre du traitement de vos données à caractère personnel, vous disposez de plusieurs droits issus du RGPD que vous pouvez faire valoir auprès du responsable de traitement.</p>
    <p>
        <ul>
            <li>Le droit d’accéder à vos données à caractère personnel faisant l’objet d’un traitement (article 15 du RGPD)</li>
            <li>Le droit de retirer votre consentement à tout moment, sans remettre en cause le traitement mis en œuvre jusque-là (article 7 du RGPD).</li>
            <li>Le droit de rectifier des données inexactes et de compléter des données incomplètes (article 16 du RGPD)</li>
            <li>Le droit d’obtenir l’effacement de vos données, dans les cas prévus à l’article 17 du RGPD</li>
            <li>Le droit d’obtenir la limitation du traitement exercé sur vos données (article 18 du RGPD) : en faisant valoir ce droit, vous stopperez tout ou partie du traitement de vos données personnelles, à l’exception de leur conservation.</li>
            <li>Le droit à la portabilité de vos données (article 20 du RGPD) : en faisant valoir ce droit vous pourrez demander que le GROUPEMENT D’INTÉRÊT PUBLIC RÉUSSIR EN SAMBRE AVESNOIS vous communique les données à caractère personnel vous concernant dans un format structuré, couramment utilisé et lisible par machine afin de les utiliser vous-même ou les confier à un autre organisme de traitement.</li>
            <li>Le droit d’introduire une réclamation auprès de la CNIL (article 13 du RGPD).</li>
        </ul>
    </p>
</div>