<h1 class="h2Title"><span class="colorLetters">Editer</span> l'Événement</h1>

<div class="eventEdit">
    <%= render 'form', event: @event %>
    <div class="linkCandidats">
        <%= link_to 'Retour', events_path %>
    </div>
</div>