<h1 class="h2Title"><span class="colorLetters">Form</span>ulaire</h1>

<%= render 'form', form_jeune: @form_jeune %>
<p class="liens" style="text-align: center;">
<%= link_to 'Retour', form_jeunes_path %>
</p>