<%= form_with(model: users_jeune) do |form| %>
  <% if users_jeune.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_jeune.errors.count, "error") %> prohibited this users_jeune from being saved:</h2>

      <ul>
        <% users_jeune.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
