/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .colorLetters {
    color: #FCB813;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.fieldBox {
    margin-top: 150px;
    width: 30%;
    margin-left: 35%;
}

.fieldSessions {
    
    flex-direction: column;
    margin-top: 15px;
    color: #fff;
}

.fieldSessions input {
    width: 100%;
    border-radius: 30px;
    height: 35px;
}

.fieldcheckbox {
   color: #fff;
    margin-top: 20px;
   display: flex;
   flex-direction: row;
}

.actions input {
    padding: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FCB813;
    border: none;
    color: #fff;
}

.title {
    color: #fff;
    text-align: center;
}

.cre {
    background-color:#ffffff7e;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}



 
 footer {
    width: 100%;
    margin-top: 220px;
    background-color: #FCB813;
}

p {
    margin: auto;
}

.logo-appi img {
    width: 40%;
    margin-left: 30%;
}

.container-footer p {
    width: 50%;
    text-align: center;
}

.container-footer a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.container-footer a:hover{
    text-decoration: none;
    color: #007BA0;
    font-weight: bold;
}

.container-footer {
    display: flex;
}

.copyright {
    text-align: center;
}

.nav-item a, .navbar-brand, .btn-outline {
    color: #fff !important;
}

.navbar {
    box-shadow: 20px 20px 50px #0000001c, 
    -30px -30px 60px #00000028;
    width: 100%;

}

@media screen and (min-width: 480px) {
    .logo-appi img {
        width: 30%;
        margin-left: 35%;
    }
}

@media screen and (min-width: 576px) {
    .logo-appi img {
        width: 20%;
        margin-left: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .logo-appi img {
        width: 10%;
        margin-left: 45%;
    }
}