// Place all the styles related to the Candidats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.linkCandidature {
    text-align: center;
    height: 150px;
}

.linkCandidature a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    padding: 5px;
    background-color: orange;
    border-radius: 10px;
    font-size: 25px;
    
}

.formCandidats {
        margin-top: 100px;
        width: 60%;
        margin-left: 20%;
        color: rgb(0, 0, 0) !important;
        background-color: rgba(238, 238, 238, 0.781);
        box-shadow: 
        -12px -12px -16px 0 rgba(0, 0, 0, 0.25),
        8px 8px -12px 0 rgba(255, 255, 255, 0.3);
        padding: 20px;
}

.field label, .field input {
    color: black;
}

.linkCandidature a:hover {
    color: orange;
    border: 1px solid orange;
    background-color: white;
}

.tableCre {
    margin-left: 10%;
    width: 80% !important;

}

.tableCre p {
    color: black;
}

.tableCre :link {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FCB813;
    border: none;
}

.tableCre a {
    color: #fff;
}


.tableCre :link:hover {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border: 1px solid orange;

}

.tableCre a:hover {
    color: orange;
}

.candidatsShow {
    background-color: rgba(255, 255, 255, 0.561);
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
    margin-top: 100px;
}

.candidatsShowTop {
    width: 50%;
    margin-left: 35%;
}

.candidatsShowTop p {
    color: black;
}

.candidatsShowTop a {
    color: white;
}

.candidatsShowTop button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: orange;
}

.candidatsShowTop button:hover {
    background-color: white;
}

.candidatsShowTop a:hover {
        color: black;
}

.linkCandidats {
    text-align: center;
    margin-top: 10px;
}

.linkCandidats a {
    text-decoration: none;
    color: white;
}