// Place all the styles related to the Candidats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.linkCandidature {
    text-align: center;
    height: 150px;
}

.linkCandidature a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    padding: 5px;
    background-color: orange;
    border-radius: 10px;
    font-size: 25px;
    
}

.linkCandidature a:hover {
    color: orange;
    border: 1px solid orange;
    background-color: white;
}

.tableCre {
    margin-left: 10%;
    width: 80% !important;

}

.tableCre p {
    color: black;
}

.tableCre :link {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FCB813;
    border: none;
}

.tableCre a {
    color: #fff;
}


.tableCre :link:hover {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border: 1px solid orange;

}

.tableCre a:hover {
    color: orange;
}