// Place all the styles related to the domaine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sectorJob {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 95%;
}

.sectorBox, .sectorBoxLast {
    background-color: green;
    width: 20%;
    height: 200px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 20px 20px 50px #0000001c, 
    -30px -30px 60px #00000028;
    background-color: rgba(255, 255, 255, 0.603);
}


.sectorBox a, .sectorBoxLast a {
    color: orange !important;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}

.sectorBox:hover, .sectorBoxLast:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.test {
    background-color: #007BA0;
    width: 90%;
	margin-left: 5%;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 20px 20px 50px #0000001c, 
    -30px -30px 60px #00000028;
}

//offres

.Agriculture,  .tourisme, .industrie, .espacevert,
.communication, .banque, .batiment, .restauration,
.maintenance, .service, .spectacle, .animals,
.support, .transport, .collectivite, .art,
.servicePublic, .association, .sante, .commerce, 
.industrieautomobile, .industriemetallurgie,
.industrieagroalimentaire {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}



.sectorJobOffres{
    width: 90%;
    margin-left: 5%;
    display: flex;
    height: 400px;
    justify-content: space-around;
}

.sectorBoxOffres {
    display: flex;
    border-radius: 10px;
    text-align: center;
    box-shadow: 20px 20px 50px #0000001c, 
    -30px -30px 60px #00000028;
    background-color: rgba(255, 255, 255, 0.603);
  
}

.sectorBoxOffres:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);

    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  
}


.Avesnois img {
    width: 100%;
}

.Avesnois{
    width: 60%;
    margin-left: 20%;
}

@media screen and (min-width: 576px) {
	.sectorJob {
		width: 40%;
		display: inline-flex;
		margin-left: 5%;
	}

	.sectorJobLast {
		display: flex;
		flex-wrap: wrap;
		align-content: space-around;
	}

	.sectorBoxLast {
		width: 37%;
		height: 90px;
		margin-left: 7%;
		margin-bottom: 60px;
	}
}

@media screen and (min-width: 772px) {

}

@media screen and (min-width: 992px) {
	.sectorJob {
		width: 90% !important;
		display: flex !important;
		margin-left: 5%;
		flex-direction: row !important;
	}

	.sectorBox {
		width: 20% !important;
		margin-left: 0% !important;
	}

	.sectorJobLast {
		display: flex;
		align-content: space-around;
	}

	.sectorBoxLast {
		width: 17%;
		height: 90px;
		margin-left: 6.5%;
		margin-bottom: 60px;
		align-content: space-around;
	}

}

@media screen and (min-width: 1200px) {
	.sectorJobLast {
		display: flex;
		align-content: space-around;
		width: 90%;
		margin-left: 2.5%;
	}

	.sectorBoxLast {
		width: 20%;
		height: 160px;
		margin-left: 5%;
		margin-bottom: 60px;

		align-content: space-around;
	}
}


@media screen and (min-width: 1200px) {
	.sectorBoxLast {
		height: 190px;

	}
}

@media screen and (min-width: 1900px) {
	.sectorBoxLast {
		height: 230px;

	}
}