// Place all the styles related to the form_jeunes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.showFormJeune {
    margin-top: 200px;
    text-align: center;
}

.fieldFormJeune{
    width: 100%;
}

.fieldBoxFormJeune {
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
    color: #fff;
}

.fieldFormJeune input, textarea {
    width: 100%;
    border-radius: 5px;
}

.fieldFormJeune textarea {
    height: 100px;
}

.dateEntretien, .BornForm {
   display: flex;
   justify-content: space-around;
    margin-top: 10px;
}

.Ml {
    margin-top: 10px;
}

.Ml input {
    width: 50px;
    margin-top: 5px;
}

.plie input {
    width: 50px;
}

.PEForm input{
    width: 50px;
    margin-top: 5px;
}

h3 {
    border-bottom: 1px solid #fff;
    margin-top: 100px;
    margin-bottom: 50px;
}

@media screen and (min-width: 772px) {
    .fieldBoxFormJeune {
     
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (min-width: 992px) {
    .fieldBoxFormJeune {
     
        width: 50%;
        margin-left: 25%;
    }
}

@media screen and (min-width: 1500px) {
    .fieldBoxFormJeune {
     
        width: 40%;
        margin-left: 30%;
    }
}

@media screen and (min-width: 1900px) {
    .fieldBoxFormJeune {
     
        width: 30%;
        margin-left: 35%;
    }
}