// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


html, body {
    margin: 0 auto;
}

#boxy {
    // background-image: url('background.png');
    background-image: url('logoappij.png');
    background-size:auto;
    padding-bottom: 0px;
 
}

.lienUtile {
    width: 20%;
    position: absolute;
}

.lienUtile p {
    color: black;
}

h2 {
    color: black !important;
}

.BoxOffreDashboard {
    width: 100%;
}
.top_nav {
    display: flex;
    flex-direction: row-reverse;
    
    background-color: #990C0C;
}
.top_nav a {
    text-decoration: none;
    color: #fff;
}

.logo img {
    width: 20%;
    margin-left: 40%;
    margin-top: 100px;
    box-shadow: 5px 3px 3px black;
    margin-bottom: 20px;
}

.connexion h2 {
    text-align: center;
    
}

.connexion a {
    text-decoration: none;
    color: #fff;
    background-color:  orange;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
} 

.connexion a:hover{
    text-decoration: none;
    color: orange;
    background-color:  #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 
    -12px -12px -16px 0 rgba(0, 0, 0, 0.25),
    8px 8px -12px 0 rgba(255, 255, 255, 0.3);
} 
.connexion a:hover {
   color: #007BA0;
}

.containerDescribe {
    width: 90%;
    margin-left: 5%;
    box-shadow: 
    6px 6px 12px 0 rgba(9, 165, 255, 0.5),
    -1px -1px 4px 0 rgba(9, 165, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
}

.containerDescribe img {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.containerDescribe p {
    margin-top: 20px;
    width: 80%;
    text-align: justify;
    color: black;
}

.containerDashbord {
    width: 90%;
    margin-left: 5%;

}


.publicDashCandidats {
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    width: 100%;
    height: 200px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 
    6px 6px 12px 0 rgba(124, 9, 255, 0.5),
    -1px -1px 4px 0 rgba(124, 9, 255, 0.5);
    display: flex;
    flex-direction: row;
}

.publicDashCandidats img {
    width: 70% !important;
    margin-top: 15%;
    
}

.mine img {
 margin-top: 30%;
 width: 90% !important;
}

.publicDashCandidatsButton {
    box-shadow: 
    6px 6px 12px 0 rgba(124, 9, 255, 0.5),
    -1px -1px 4px 0 rgba(124, 9, 255, 0.5);
    background-color: blueviolet;
    width: 40%;
    height: 80%;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 10px;
}


.publicDashCandidatsButton:hover {
    background-color: rgba(98, 0, 163, 0.555);

}

.publicDash{
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    width: 100%;
    height: 200px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 
    6px 6px 12px 0 rgba(255, 161, 9, 0.5),
    -1px -1px 4px 0 rgba(255, 161, 9, 0.5);
}

.OffreDash {
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden !important;
    height: 455px !important;
    box-shadow: 
    6px 6px 12px 0 rgba(255, 9, 9, 0.5),
    -1px -1px 4px 0 rgba(255, 0, 0, 0.486);
}

.numberDynamic {
    font-size: 50px;
    margin-bottom: 17px;
    
}
.liHome a {
    background-color: orange;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2.5px;
}

.liHome a:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: orange;
    border-radius: 10px;
    border-color: 1px solid orange;
    padding: 2.5px;
}

.ListOffers ul {
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.459);
    box-shadow: 20px 20px 50px #79797957, 
                -30px -30px 60px #8383835b;
    width: 90%;
    border-radius: 10px;
    margin-left: 5%;

}

.cardHome {
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 
    6px 6px 12px 0 rgba(49, 190, 6, 0.637),
    -1px -1px 4px 0 rgba(49, 190, 6, 0.637);
}


.linkHomeEvent a{
    color: black;
}

.h2Title {
    padding: 5px;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    width: 30%;
    margin-left: 35%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.87);
}

@media screen and(min-width: 375px) {
    .publicDashCandidatsButton {
        width: 65%;
        height: 51%;
        margin-top: 45%;
    }

    .lienUtile {
        width: 30%;
    }

    .mine {
        margin-top: 40%;
        width: 63%;
    }

    .titleBox {
        color: black;
    }
}


@media screen and(min-width: 480px) {
    .logoCo img {
        width: 50%;
        margin-left: 25%;
        margin-top: 50px;
    }

    .OffreDash {
        margin-bottom: 20px;
    }

    .publicDashCandidatsButton {
        width: 65%;
        height: 51%;
        margin-top: 45%;
    }

    .mine {
        margin-top: 19%;
        width: 64%;
    }
    .publicDashCandidatsButton {
        
        height: 67%;
        margin-top: 17%;
    }
}

@media screen and(min-width: 576px) {
    .titleBox {
        font-size: 25px;
        color:black;
    }

    .mine {
        margin-top: 16%;
        width: 55%;
    }
    .publicDashCandidatsButton {
        width: 57%;
    }
}

@media screen and(min-width: 772px) {
    .logo img {
        width: 20%;
        margin-left: 40%;
    }

    .publicDashCandidatsButton {
        width: 40%;
        margin-top: 10%;
    }
}

@media screen and(min-width: 992px) {
    .containerDescribe {
        display: flex;
        padding: 10px;
    }
.containerDescribe img {
    width: 35%; 
    margin-bottom: 10px;
    margin-left: 5%;
}

.containerDashbord {
    display: flex;
}

.OffreDash {
    width: 95%;
    margin-left: 5%;
}

.boxPubliCre {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.presentation {
    width: 40%;
    height: 400px;
    margin-right: 5%;
    margin-left: 5%;
    text-align: justify;
    color: #fff;
    font-size: 17px;
    overflow: hidden;
}

.publicDash, .CreDash{
   height: 130px;
}

.logoCo {
    width: 25%;
    height: 200px;
    margin-top: 10px;
}

.logoCo img {
    width: 50%;
    margin-left: 0%;
    margin-top: 10px;
}

}

@media screen and(min-width: 992px) {
    .publicDashCandidatsButton {
        width: 49%;
        margin-top: 25%;
        height: 50%;
    }
    
     
}
@media screen and(min-width: 1200px) {
    .containerDashbord {
        margin-bottom: 50px;
    }

    .ListOffers ul {
        display: flex;
        justify-content: space-around;
    }

    .containerDescribe img {
        width: 50%;
        margin-left: 10%;
        margin-top: 10px;
    }

    .containerDescribe p {
        font-size: 17px;
    }

    .publicDashCandidatsButton {
        width: 48%;
        margin-top: 21%;
        height: 57%;
    }
}

@media screen and (min-width: 1500px) {
    .OffreDash {
        height: 100%;
    }

    .publicDashCandidatsButton {
        width: 37%;
        margin-top: 15%;
        height: 57%;
        margin-left: 27%;
    }
}
@media screen and (min-width: 1900px) {
    .containerDescribe img {
        width: 40%;
        margin-left: 10%;
        margin-top: 10px;
    }

    .containerDescribe p {
        font-size: 21px;
    }

    .publicDashCandidatsButton {
        width: 35%;
        margin-top: 9%;
        height: 65%;
        margin-left: 27%;
    }
}
