// Place all the styles related to the legalnotice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.containerLegalnotice {
    width: 50%;
    margin-left: 25%;
    color: #fff;
}
