// Place all the styles related to the legalnotice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.containerLegalnotice {
    width: 50%;
    margin-left: 25%;
    background-color: rgba(235, 235, 235, 0.76);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 
    -12px -12px -16px 0 rgba(0, 0, 0, 0.664),
    8px 8px -12px 0 rgba(236, 0, 0, 0.623);
}

.containerLegalnotice p {
    color: black;
}