// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h2 {
    text-align: center;
    color: #fff;
}

.PublicContainer {
    background-color: #007BA0;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 100px;
    box-shadow: 20px 20px 50px #0000001c, -30px -30px 60px #00000028;
    padding-bottom: 10px;
}
.list-group-item {
    background-color: #ffffff71;
    color: #fff;
    margin-left: 5%;
    display: flex;
    width: 90%;
    flex-direction: column;
}

.linkPublic, .linkPublicTwo {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


.linkPublic a, .linkPublicTwo a {
    text-decoration: none;
    color: #fff;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}

.linkPublic a:hover,
 .linkPublicTwo a:hover {
     background-color: #fff;
     color: orange;
 } 

 .block {
     height: 260px;
     padding-top: 100px;
 }



@media screen and (min-width: 992px) {
    .list-group-item {
        flex-direction: row;
    }

    .linkPublicTwo a {
        margin-left: 2%;
    }
}