<h1><span class="colorLetters">Métiers</span> de l'Agroalimentaire</h1>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Boucher / Bouchère</button>
      </h5>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="accordion-body-box">
            <div class="element-left">

        
          <h5>Description métier</h5>
          
            Sur son billot,<strong> </strong>le<strong> boucher</strong> désosse les carcasses, découpe la <strong>viande </strong>en morceaux pour la présenter à la vente au détail. Il vide et nettoie également les volailles, les lapins et les gibiers.

Le <strong>boucher </strong>peut se spécialiser en fonction de la viande travaillée (bœuf, cheval, porc, moutons…). Il décore les plats et valorise son activité en proposant à la clientèle des plats cuisinés prêts à emporter.

En contact avec la clientèle, le boucher a une activité de commerçant. Il accueille les consommateurs, vend la <strong>viande</strong>, donne des conseils sur la préparation et la cuisson.

Le <strong>boucher </strong>exerce son travail seul ou en équipe. Il est le plus souvent debout. Une partie de l’activité se fait en chambre froide où il faut s’adapter à des variations brusques de température et transporter des charges parfois lourdes.

L’utilisation d’outils tranchants exige une grande dextérité et une attention soutenue. La manipulation de produits crus exige le strict respect de règles d’hygiène.

S’il est à son compte, des connaissances comptables sont nécessaires pour gérer son commerce.

<strong>Le boucher</strong> est employé dans différents types d’entreprises : <strong>boucherie artisanale</strong>, <strong>rayon boucherie</strong> d’une grande surface, <strong>abattoir</strong>.<br>
<br>
Les horaires de travail varient selon les entreprises. L’activité peut débuter le matin avant six heures et se terminer le soir entre 19 h et 20 h, avec une coupure l’après-midi. Le boucher travaille le samedi, dimanche matin et certains jours fériés. Il a alors des jours de repos en semaine.

Dans une grande surface, les ateliers fonctionnent parfois pendant seize heures (ou vingt-quatre heures) par jour en équipes tournantes, chaque équipe travaillant huit heures. Les ouvriers bouchers préparent et conditionnent la viande. Le chef de rayon s'occupe de la gestion des stocks, des achats, de manager les équipes et de rendre des comptes à la direction.&nbsp;

Comme de nombreux métiers de bouche, le métier de boucher manque de bras. Les débouchés sont particulièrement importants dans les grandes surfaces et l'industrie agroalimentaire. Selon une récente étude réalisée par Textkernel en juillet 2016, les offres d'emploi de bouchers représentaient près de 45% de celles recensées sur 15 mois dans le domaine des métiers de bouche.
<br>
<br>
          <h5>Études / Formation pour devenir Boucher / Bouchère
</h5>
          
           Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP boucher,</li>
	<li>CTM (certificat technique des métiers) boucher ou préparateur option boucherie (2 ans en alternance, organisé par l’APCM),</li>
	<li>MC (mention complémentaire) employé traiteur (1 an après le CAP),</li>
	<li>CQP technicien boucher,</li>
</ul>
<br>
<br>
<h5>niveau Bac</h5>

<ul>
	<li>BP (brevet professionnel) boucher (2 ans après le CAP ou une MC),</li>
	<li>Bac pro boucher-charcutier-traiteur,&nbsp;</li>
</ul>
<br>
<br>
<h5>niveau Bac + 2</h5>

<ul>
	<li>BM boucher charcutier traiteur (après un BP)</li>
	<li>MUM (Manager unité marchande) boucher&nbsp;</li>
</ul>
<br>
<br>
<h5>niveau Bac + 3</h5>

<ul>
	<li>Licence pro commerce et distribution boucher manager</li>
</ul>

<br>
<br>
          <h5>Salaires</h5>
          En grande surface, le salaire d'un boucher dépend de la taille du magasin qui l'emploie (supermarché, hypermarché) :&nbsp;

<ul>
	<li>ouvrier boucher : de 1 800 à 2 600 €</li>
	<li>chef de rayon boucherie : de 2 600 à 4 100 €.</li>
</ul>

Un artisan boucher à son compte peut avoir de confortables revenus en rapport avec l’importance de sa clientèle.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Après quelques années d’expérience professionnelle, le salarié peut se mettre à son compte.<br>
<br>
Dans le rayon boucherie d’une grande surface, il peut être chef de rayon.

Le <strong>boucher</strong> peut aussi évoluer vers des fonctions d'intermédiaire commercial.

</div>
          </div>
        </div>
      </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Boulanger / Boulangère</button>
      </h5>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="accordion-body-box">
            <div class="element-left">

        
          <h5>Description métier</h5>
          
            Le <strong>boulanger</strong> fabrique du <strong>pain </strong>courant (baguette) et une gamme de pains spéciaux (complet, au son, au seigle…) ainsi que des <strong>viennoiseries </strong>(croissant, brioche). Il peut aussi préparer des <strong>pâtisseries </strong>courantes ou des produits « traiteur » (les quiches et les pizzas) ou des produits de "snacking" (sandwich, salades).&nbsp;

Le boulanger dans un premier temps sélectionne la farine et les ingrédients avec lesquels il travaille. Puis il fabrique et cuit les produits dans le respect des règles d'hygiène et de sécurité alimentaire.&nbsp;

La fabrication du <strong>pain </strong>exige de nombreuses étapes de préparation avant la touche finale. En effet, gestes et pauses de la panification sont depuis toujours les mêmes : pétrissage de la pâte, fermentation, façonnage, enfournement, cuisson et défournement.

L’activité du <strong>boulanger </strong>a cependant évolué avec la modernisation des fournils, surtout en ce qui concerne la conduite de la fermentation et les modes de cuisson.

L'offre de produits tend à se diversifier pour répondre aux besoins de la clientèle. Le boulanger doit veiller aux tendances de la consommation et savoir organiser son travail.

Comme pour beaucoup de métiers de bouche relatifs aux produits frais, le travail du <strong>boulanger</strong> se fait souvent de nuit, week-end et jours fériés compris. Les deux jours de repos consécutifs en semaine tendent à se généraliser.

Un boulanger peut exercer sa profession&nbsp;à son compte, dans une boulangerie artisanale ou dans une boulangerie industrielle, en grande distribution type supermarché.
<br>
<br>
          <h5>Études / Formation pour devenir Boulanger / Boulangère
</h5>
          
           Il existe plusieurs diplômes professionnels préparant au métier de <strong>boulanger</strong>, accessibles en alternance.

Exemples de formations :&nbsp;

<h5>niveau CAP</h5>

<ul>
	<li>CAP boulanger</li>
	<li>MC (mention complémentaire) boulangerie spécialisée</li>
	<li>MC pâtisserie boulangère</li>
	<li>CQP tourier snacking (pour apprendre à préparer les pâtes)</li>
</ul>
<br>
<br>
<h5>niveau bac&nbsp;</h5>

<ul>
	<li>Bac pro boulanger pâtissier (pour les deux métiers)</li>
	<li>BP (brevet professionnel) de boulanger (en 2 ans après le CAP, MC)</li>
</ul>
<br>
<br>
<h5><strong>niveau bac + 2</strong></h5>

<ul>
	<li>Brevet de maîtrise (BM) boulanger accessible via le réseau des Chambres de métiers</li>
	<li>Diplôme d'études universitaires scientifiques et techniques Production et transformations spécialité Arts et métiers de bouche (Cnam)</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          Le boulanger débutant gagne le Smic 1 522 € brut par mois (base 35h / semaine). Le travail du dimanche, jours fériés et de nuit augmente sensiblement les rémunérations perçues.

Le revenu mensuel d'un <strong>artisan boulanger</strong> à son compte s'inscrit dans la fourchette 3 500 € à&nbsp;4 000&nbsp;€.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Avec 32 000 entreprises et près de 200 000 salariés, la boulangerie-pâtisserie se classe au premier rang des entreprises du commerce de détail alimentaire.

Le <strong>métier de boulanger</strong> offre des évolutions de carrière importantes au sein des entreprises artisanales. Le boulanger peut aussi se mettre à son compte (ouvrir une boulangerie puis un réseau). L'expatriation offre également des possibilités intéressantes notamment en Amérique du Nord, en Chine et&nbsp;au Japon.&nbsp;La boulangerie et la pâtisserie made in France comptent parmi les métiers qui s’exportent le mieux et dont les produits sont les plus prisés !

Un <strong>boulanger</strong> peut également travailler pour des entreprises du secteur d'activité : minotiers, fabricants d'avant-produits de boulangerie-pâtisserie, fabricants de matériel.

Dans la boulangerie industrielle, le boulanger peut accéder à un poste de responsabilité : chef d’équipe, responsable de rayon...

</div>
          </div>
        </div>
      </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Brasseur - malteur</button>
      </h5>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="accordion-body-box">
            <div class="element-left">

        
          <h5>Description métier</h5>
          
            Le <strong>brasseur-malteur</strong> fabrique de la <strong>bière</strong>.

Issue de l'industrie agroalimentaire ou de <strong>microbrasseries </strong>artisanales en plein renouveau, la <strong>bière </strong>est le résultat de trois grandes opérations de fabrication : le maltage, le brassage et la fermentation.

Ces tâches sont aujourd’hui entièrement automatisées et, dans les grandes unités de production, la fonction d’ouvrier brasseur-malteur est en voie de disparition. Ce dernier est devenu ouvrier spécialisé de l’industrie agroalimentaire.

Mais avec le développement des bières artisanales ou régionales, le métier de brasseur malteur retrouve ses lettres de noblesse.&nbsp;

Aujourd'hui, l'ouvrier <strong>brasseur-malteur</strong> accompagne et surveille les différentes phases du cycle de transformation et de fabrication du produit. Il effectue des prélèvements, contrôle la température et assure les opérations finales de traitement de la bière (affinage, filtrage). Il pratique un tri qualitatif des produits finis ainsi que leur conditionnement. Il nettoie, désinfecte et entretient les machines, outils et équipements.

Cet emploi s’exerce en atelier, dans une atmosphère chaude et humide au sein de brasseries ou de <strong>micro-brasserie</strong>s artisanales. Il implique le port d’une tenue vestimentaire adaptée aux normes d’hygiène (blouse, bonnet, gants…).<br>
<br>
L’ouvrier travaille sous les ordres d’un ingénieur. Celui-ci choisit les variétés d’orge et de houblons, contrôle le brassage, décide des durées et des températures, dose les arômes, sélectionne les levures.

Chargé de production, il participe à la recherche de nouveaux produits.
<br>
<br>
          <h5>Études / Formation pour devenir Brasseur - malteur
</h5>
          
           Pour travailler dans une grande brasserie, les formations liées à la fabrication agroalimentaire conviennent. Pour les artisans de micro-brasseries, il est recommandé d'avoir une formation dans le domaine. Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP CIP - conducteur d'installations de production,</li>
</ul>
<br>
<br>
<h5>niveau bac</h5>

<ul>
	<li>Bac pro BIT - bio industries de transformation,</li>
	<li>Bac pro PCE - procédés de la chimie et métiers de l'eau,&nbsp;</li>
	<li>Bac pro TC - technicien conseil vente option vins et spiritueux,</li>
</ul>
<br>
<br>
<h5>niveau bac + 2</h5>

<ul>
	<li>BTS PP - pilotage de procédés.</li>
</ul>
<br>
<br>
<h5>Niveau bac + 3</h5>

<ul>
	<li>BUT GB - génie biologique</li>
</ul>
<br>
<br>
<h5>niveau bac + 5&nbsp;</h5>

<ul>
	<li>Master procédés fermentaires pour l'agroalimentaire (IUVV)</li>
</ul>

Pour plus de détails sur les masters : <a href="www.trouvermonmaster.gouv.fr">www.trouvermonmaster.gouv.fr</a>

L’Institut français des boissons, de la brasserie et de la malterie IFBM de Nancy organise, pour sa part, des stages pratiques de brasserie et de malterie.

A noter :

<ul>
	<li>module de formation continue pour les <strong>brasseurs</strong> amateurs ou désirant créer leur microbrasserie au CFPPA de Douai,</li>
	<li>le département biotechnologies de l'université de La Rochelle délivre un diplôme d'université (DU) d'opérateur de brasserie en formation continue,</li>
	<li>formations assurées par des brasseries : les <strong>Brasseurs </strong>de Lorraine Pont-à-Mousson en liaison avec l'Ensaia ; écoles d'été organisées par le musée français de la brasserie de Nancy ;&nbsp;</li>
</ul>

        </div>
        <br>
<br>
          <h5>Salaires</h5>
          Le salaire d’un ouvrier <strong>brasseur-malteur</strong> aujourd’hui ouvrier spécialisé de l’industrie agroalimentaire est au niveau du S.M.I.C.<br>
<br>
Celui d’un ingénieur contrôle qualité fabrication est approximativement de 2 700 € brut par mois en début de carrière .
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Ouvrier&nbsp;ou ingénieur, le <strong>brasseur malteur </strong>n’a que de faibles perspectives d’emploi. Les rares grandes brasseries implantées en France dépendent du même groupe et recrutent peu.

Seuls un ou deux ingénieurs et quelques techniciens de l’agrobiologie trouvent chaque année un emploi dans ce domaine.

En même temps, la tradition, la richesse et la diversité des bières implantées dans certaines régions permettent au métier de survivre. Ainsi voit-on, ces dernières années, les micro-brasseries se développer et créer quelques emplois.

</div>
          </div>
        </div>
      </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Charcutier-traiteur / Charcutière-traiteuse</button>
      </h5>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="accordion-body-box">
            <div class="element-left">

        
          <h5>Description métier</h5>
          
            Le<strong> chocolatier-confiseur</strong> s’occupe de sa production de A à Z : choix des matières premières, préparation de la pâte, garniture, cuisson et décoration, conditionnement et commercialisation.

<span>Il surveille les dosages de <strong>cacao</strong>, de sucre, de lait ou de crème, alcool, amandes et noisettes qui sont ses matières premières et connaît parfaitement la réaction de ses produits à la chaleur. Il maîtrise les opérations de tempérage, trempage, enrobage et les différentes techniques de cuisson.&nbsp;</span>

<span>Il doit respecter des règles d’hygiène très strictes pour la fabrication des produits mais aussi pour l’entretien des appareils et des locaux.&nbsp;</span>

Mais ses connaissances techniques et son habileté manuelle seraient insuffisantes sans la créativité, la recherche des formes, un vrai talent esthétique et le sens de la présentation.

Cette profession mise aujourd’hui sur l’originalité et la qualité pour fidéliser une clientèle qui pourrait se tourner vers la chocolaterie industrielle, moins coûteuse. Face à une clientèle grandissante et de plus en plus exigeante en terme de qualité, la profession semble avoir de beaux jours devant elle. Mais être <strong>chocolatier</strong>-<strong>confiseur </strong>est un métier artisanal qui demande beaucoup de travail et de patience. Levé tôt pour assurer la fabrication, le <strong>chocolatier confiseur</strong> est aussi un commerçant qui doit faire face à des périodes de très forte activité (Noêl et Paques notamment) ou les commandes et les achats de <strong>chocolat </strong>sont doublés parfois triplés.&nbsp;

L'excellence repose sur le choix des ingrédients, un savoir-faire respectant les traditions, la technologie et la minutie des mélanges. A ce prix, le <strong>chocolatier-confiseur</strong> personnalise ses produits. Ils deviennent uniques et pour cette authenticité, la clientèle peut être prête à toutes les folies.

Des débouchés existent aussi dans l'industrie, la grande distribution et les chaînes hôtelières internationales qui peuvent utiliser les services d’un <strong>chocolatier </strong>pour leurs restaurants, la chocolaterie artisanale.&nbsp;
<br>
<br>
          <h5>Études / Formation pour devenir Chocolatier - confiseur / Chocolatière - confiseuse
</h5>
          
           Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP chocolatier-confiseur</li>
	<li>CAP pâtissier</li>
	<li>CAP glacier fabricant</li>
	<li>MC (mention complémentaire) de pâtisserie, glacerie, chocolaterie, confiserie spécialisées</li>
</ul>
<br>
<br>
<h5>niveau bac</h5>

<ul>
	<li>Bac pro boulanger-pâtissier&nbsp;</li>
</ul>

<h5><span>niveau bac + 2</span></h5>

<ul>
	<li><span>Brevet de maîtrise (BM) patissier confiseur glacier traiteur</span></li>
	<li><span>Brevet technique des métiers (BTM, niveau bac) chocolatier-confiseur</span><br>
	&nbsp;</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          Un ouvrier chocolatier-confiseur débutant gagne le S.M.I.C.

Un ouvrier hautement qualifié et expérimenté peut espérer un salaire aux environs de 1 500 à 1 600 € mensuels.

Comme artisan à son compte un chocolatier peut dégager un revenu mensuel de l’ordre de 3 000 € à 4 000 €.&nbsp;
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Le chocolatier-confiseur peut se perfectionner en préparant un brevet de maîtrise (BM) ou un brevet technique des métiers (BTM).

Avec de l’expérience, il peut se mettre à son compte avec un statut de commerçant artisan.

Dans le secteur industriel, il peut obtenir un poste à responsabilité (ouvrier qualifié, chef de laboratoire, encadrement d'équipe).

</div>
        </div>
      </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSix">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Chocolatier - confiseur / Chocolatière - confiseuse</button>
    </h5>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Le<strong> chocolatier-confiseur</strong> s’occupe de sa production de A à Z : choix des matières premières, préparation de la pâte, garniture, cuisson et décoration, conditionnement et commercialisation.

<span>Il surveille les dosages de <strong>cacao</strong>, de sucre, de lait ou de crème, alcool, amandes et noisettes qui sont ses matières premières et connaît parfaitement la réaction de ses produits à la chaleur. Il maîtrise les opérations de tempérage, trempage, enrobage et les différentes techniques de cuisson.&nbsp;</span>

<span>Il doit respecter des règles d’hygiène très strictes pour la fabrication des produits mais aussi pour l’entretien des appareils et des locaux.&nbsp;</span>

Mais ses connaissances techniques et son habileté manuelle seraient insuffisantes sans la créativité, la recherche des formes, un vrai talent esthétique et le sens de la présentation.

Cette profession mise aujourd’hui sur l’originalité et la qualité pour fidéliser une clientèle qui pourrait se tourner vers la chocolaterie industrielle, moins coûteuse. Face à une clientèle grandissante et de plus en plus exigeante en terme de qualité, la profession semble avoir de beaux jours devant elle. Mais être <strong>chocolatier</strong>-<strong>confiseur </strong>est un métier artisanal qui demande beaucoup de travail et de patience. Levé tôt pour assurer la fabrication, le <strong>chocolatier confiseur</strong> est aussi un commerçant qui doit faire face à des périodes de très forte activité (Noêl et Paques notamment) ou les commandes et les achats de <strong>chocolat </strong>sont doublés parfois triplés.&nbsp;

L'excellence repose sur le choix des ingrédients, un savoir-faire respectant les traditions, la technologie et la minutie des mélanges. A ce prix, le <strong>chocolatier-confiseur</strong> personnalise ses produits. Ils deviennent uniques et pour cette authenticité, la clientèle peut être prête à toutes les folies.

Des débouchés existent aussi dans l'industrie, la grande distribution et les chaînes hôtelières internationales qui peuvent utiliser les services d’un <strong>chocolatier </strong>pour leurs restaurants, la chocolaterie artisanale.&nbsp;
<br>
<br>
          <h5>Études / Formation pour devenir Chocolatier - confiseur / Chocolatière - confiseuse
</h5>
          
           Exemples de formations :&nbsp;

<h5>niveau CAP</h5>

<ul>
	<li>CAP chocolatier-confiseur</li>
	<li>CAP pâtissier</li>
	<li>CAP glacier fabricant</li>
	<li>MC (mention complémentaire) de pâtisserie, glacerie, chocolaterie, confiserie spécialisées</li>
</ul>
<br>
<br>
<h5>niveau bac</h5>

<ul>
	<li>Bac pro boulanger-pâtissier&nbsp;</li>
</ul>
<br>
<br>
<h5><span>niveau bac + 2</span></h5>

<ul>
	<li><span>Brevet de maîtrise (BM) patissier confiseur glacier traiteur</span></li>
	<li><span>Brevet technique des métiers (BTM, niveau bac) chocolatier-confiseur</span><br>
	&nbsp;</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          Un ouvrier chocolatier-confiseur débutant gagne le S.M.I.C.

Un ouvrier hautement qualifié et expérimenté peut espérer un salaire aux environs de 1 500 à 1 600 € mensuels.

Comme artisan à son compte un chocolatier peut dégager un revenu mensuel de l’ordre de 3 000 € à 4 000 €.&nbsp;
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Le chocolatier-confiseur peut se perfectionner en préparant un brevet de maîtrise (BM) ou un brevet technique des métiers (BTM).

Avec de l’expérience, il peut se mettre à son compte avec un statut de commerçant artisan.

Dans le secteur industriel, il peut obtenir un poste à responsabilité (ouvrier qualifié, chef de laboratoire, encadrement d'équipe).
</div>        
</div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSeven">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Commerçant / Commerçante en alimentation</button>
    </h5>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Le<strong> commerçant en alimentation</strong> générale (autrefois <strong>épicier</strong>) a pour tâches principales d’accueillir, de servir, éventuellement de conseiller ou d’informer les clients qui viennent se ravitailler dans sa boutique.

Il facture l’achat, encaisse les sommes dues par le client et assure le rendu de la monnaie. Dans certaines spécialités il exerce un « métier de bouche » dans la mesure où il fabrique, ou prépare, tout ou partie de ce qu’il vend (voir : boulanger, boucher, poissonnier, charcutier-traiteur, etc.)

En amont, il a en charge l’approvisionnement du <strong>magasin</strong>, passe les commandes correspondantes aux grossistes et les réceptionne. Il procède au rangement, à l’étiquetage et à l’exposition des denrées en tenant compte de divers facteurs : fréquence de la demande, urgence, durée de conservation des denrées, prix.

Le <strong>commerçant </strong>fait donc régulièrement l’inventaire de ses marchandises pour gérer ses stocks avec le maximum de précision. Une partie importante de son travail consiste aussi à entretenir l’hygiène et la propreté absolue de son magasin.

S’il dispose du personnel suffisant, il élargit son activité de distribution en prenant des commandes et en assurant leur livraison au domicile du client.

Les conditions de travail du commerçant dépendent de son statut (indépendant ou salarié) et du type de magasin ou surface de vente dans lequel il travaille : boutique traditionnelle, supérette, primeur, marchés en plein air…

Un point commun cependant, les horaires sont d’une grande amplitude. Le travail du samedi et souvent du dimanche matin sont de rigueur. La station debout est quasi permanente. Une bonne résistance physique s’impose pour le transport et le rangement des produits.

Les qualités d’accueil en toute circonstances, même en périodes d’affluence, sont évidemment primordiales comme dans tous les métiers de vente directe.
<br>
<br>
          <h5>Études / Formation pour devenir Commerçant / Commerçante en alimentation
</h5>
          
           Le métier est accessible sans formation mais une formation est un atout pour évoluer :
<br>
<br>
<h5>niveau CAP&nbsp;</h5>

<ul>
	<li>CAP dans le domaine des métiers de bouche&nbsp;</li>
	<li>CAP équipier polyvalent du commerce&nbsp;</li>
	<li>CAP primeur&nbsp;</li>
	<li>MC (mention complémentaire) vendeur spécialisé en alimentation</li>
	<li>MC dans le domaine des métiers de bouche</li>
</ul>
<br>
<br>
<h5>niveau Bac&nbsp;</h5>

<ul>
	<li>Bac pro métiers du commerce et de la vente&nbsp;</li>
	<li>Bac pro technicien&nbsp;conseil&nbsp;vente en alimentation option produits alimentaires et boissons</li>
</ul>
<br>
<br>
<h5>niveau bac + 2</h5>

<ul>
	<li>Brevet de maîtrise (BM) alimentation (chambre de métiers)</li>
	<li>BTS MCO - management commercial opérationnel</li>
	<li>BTSA TC - technico-commercial</li>
</ul>

Dans le cadre de la formation continue, différents CQP&nbsp;(certificat de qualification professionnelle) permettent de se professionnaliser :&nbsp;&nbsp;CQP vendeur conseil en épicerie, CQP employé de vente du commerce alimentaire de détail, CQP&nbsp;manager d'unité commerciale (MUC) du commerce alimentaire de détail.&nbsp;
<br>
<br>
          <h5>Salaires</h5>
          Un vendeur débutant en alimentation débutant gagne le S.M.I.C.. Un vendeur qualifié gagne entre 1 500 et 1 600 € par mois.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Le vendeur en alimentation peut s’installer à son compte et ouvrir un commerce de préférence correspondant à un métier de bouche spécialisé (boucher, boulanger…) impliquant un apprentissage et une qualification spécifique.

S’il travaille dans un hypermarché,&nbsp; il peut évoluer vers une responsabilité de chef de rayon.

</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingHeight">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">Employé / Employée drive</button>
    </h5>
    <div id="collapseHeight" class="accordion-collapse collapse" aria-labelledby="headingHeight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Dès que le client a passé commande et payé son panier sur le site internet, <strong>le préparateur de commandes de drive</strong> ou <strong>employé drive&nbsp;</strong>reçoit sur son terminal portatif la liste des courses classée&nbsp;en grande catégorie (épicerie, produits d’entretien, boisson, produits frais, surgelés..) et organisée en fonction du trajet à effectuer (objectif : optimiser le temps et ne jamais revenir sur ses pas !). En face de chaque produit, un numéro indique l’emplacement du produit.&nbsp;

Une fois le produit récupéré, le préparateur de commandes le scanne et le met dans un sac ou un bac adapté. A la fin de la tournée, le préparateur range le chariot à l’entrée du magasin ou de l’entrepôt et édite le ticket de caisse.&nbsp;

Dès que le client arrive pour récupérer sa commande, il assemble le panier en allant chercher notamment les produits frais et surgelés conservés à la fraîcheur recommandée pour respecter la chaîne du froid puis le dépose dans le coffre du client.&nbsp;

L'<strong>employé drive</strong> travaille directement dans un magasin ou au sein d'un entrepôt d'une enseigne de la grande distribution.

Rigoureux, organisé et méthodique, <strong>l’employé drive </strong>doit avant tout être rapide et efficace (dans certaines enseignes le temps de préparation est minuté).&nbsp;&nbsp;Il faut également apprécier le travail en équipe et avoir le sens du contact pour évoluer dans ce métier.&nbsp;

Avec une croissance certes moindre qu’au début des années 2010, le développement des drives se poursuit toujours : p<span>lus de 320 <strong>drives </strong>ont été créés en France en 2018, ce qui marque un regain de dynamisme par rapport aux années précédentes. La demande de</span>&nbsp;préparateurs de commandes ou employés drive ne devrait ainsi pas faiblir.&nbsp;
<br>
<br>
          <h5>Études / Formation pour devenir Employé / Employée drive
</h5>
          
           Préparer des commandes dans un <strong>drive </strong>est un métier qui peut s’apprendre sur le tas et accessible sans formation particulière sous condition de répondre au profil recherché par les enseignes de la grande distribution. A noter, certaines d'entre elles proposent des formations qualifiantes pour se former au métier&nbsp;après recrutement (type CQP ou TP)

Néanmoins certains diplômes peuvent faciliter l’embauche :&nbsp;
<br>
<br>
<h5>Niveau CAP</h5>

<ul>
	<li>CAP opérateur logistique</li>
	<li>Titre professionnel employé commercial&nbsp;</li>
	<li>CQP employé de commerce en magasin</li>
</ul>
<br>
<br>
<h5>Niveau bac</h5>

<ul>
	<li>bac pro logistique&nbsp;</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          Le <strong>préparateur de commandes en drive</strong> émarge aux alentours du SMIC.&nbsp;<br>
&nbsp;
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Possibilité d’évoluer vers un poste de coordinateur ou de chef d’équipe, de responsable&nbsp;courses, de manager de rayon.&nbsp;

</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingNine">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Employée / Employé de libre service</button>
    </h5>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            <strong>L’employé de libre-service</strong> dispose des marchandises dans les <strong>rayons </strong>d’un <strong>magasin</strong>.

Il transporte les <strong>articles </strong>de la réserve au <strong>magasin</strong>, le plus souvent à l’aide de transpalettes électriques. Il nettoie le ou les <strong>rayons </strong>dont on lui a confié la responsabilité.

Il contrôle les dates limites de consommation sur les <strong>produits alimentaires </strong>et retire du <strong>rayon </strong>ceux qui sont <strong>périmés </strong>ou abîmés.

Il met des étiquettes sur les articles qui ne sont pas pourvus de code barre. Il modifie l'affichage des prix suivant les ordres qu’il reçoit.

Il <strong>alimente les rayons</strong> en produits en respectant les rangements existants. Il suit les consignes d’emplacement pour présenter les produits (promotions, soldes). Il réapprovisionne les rayons en cours de journée.

Il compte les produits stockés dans la réserve et fait <strong>l’inventaire </strong>des invendus à l'aide d'un mini ordinateur. Il transmet toutes ces informations au chef de rayon pour que ce dernier puisse effectuer des commandes de nouveaux produits.

L'empoyé de libre-service renseigne aussi les clients du magasin et les conseille à l’occasion. Il peut être amené également à tenir la caisse.&nbsp;

L’employé de libre-service travaille le plus souvent debout. Il peut avoir à porter des charges lourdes. Suivant la taille du magasin, il peut travailler seul ou en équipe. Il est placé sous la responsabilité du gérant, du directeur de magasin ou du chef de rayon.

Il travaille le samedi et certains jours fériés. L’employé bénéficie alors d’un ou deux jours de congé en semaine. Il fait souvent des heures supplémentaires en périodes de fêtes. Les horaires sont en général irréguliers et les emplois à temps partiel sont fréquents.

Une tenue de travail peut être fournie par l’employeur (blouse, chaussures de sécurité…).
<br>
<br>
          <h5>Études / Formation pour devenir Employée / Employé de libre service
</h5>
          
           Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP équipier polyvalent du commerce&nbsp;</li>
	<li>CAP primeur</li>
</ul>
<br>
<br>
<h5>niveau bac&nbsp;</h5>

<ul>
	<li>Bac pro métiers du commerce et de la vente&nbsp;</li>
	<li>Bac pro technicien conseil vente en l'alimentation (produits alimentaires et boisson)</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          Le salaire d’un débutant est toujours situé aux alentours du S.M.I.C..
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Après quelques années d’expérience professionnelle, l’employé de libre-service peut devenir gestionnaire de stocks puis chef de rayon.

Avec une formation complémentaire, il peut évoluer vers différentes fonctions de la vente (vente directe, technico-commercial, télévente).

</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingEleven">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">Fromager / Fromagère</button>
    </h5>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Dans les grandes unités de production de l’agroalimentaire, le <strong>fromager</strong> est le technicien qui intervient au début du processus de la transformation du lait de vache, de chèvre ou de brebis en <strong>fromage</strong>.

Il emplit des grandes cuves de lait en y ajoutant de la présure et des ferments pour obtenir du lait caillé ou coagulé. Le <strong>fromager </strong>suit l’état de transformation du produit avec des appareils de contrôle. Le produit obtenu est ensuite tranché, égoutté et mis dans des moules.

Pour certains <strong>fromages</strong>, le contenu des moules est pressé avant d’être démoulé, salé et mis à sécher. L’opération <strong>d’affinage </strong>commence à ce stade de production. Les produits dits frais n’ont pas à subir d’affinage. Dans les grandes laiteries, d’autres techniciens prennent ensuite le relais du <strong>fromager </strong>dans les caves d’affinage.

En <strong>fromagerie artisanale</strong>, le <strong>fromager </strong>assure toutes les opérations et manipulations d’affinage : retournement des meules, lavage, brossage, ensemencement des croûtes en formation, dépose des fromages<strong> </strong>sur un lit de paille. Viennent ensuite l’emballage, le stockage, la livraison et la vente à l’étal d’un marché ou dans le rayon d’une grande surface.

Le métier de fromager exige de bonnes qualités sensitives comme le toucher et, bien sûr, le goût. Le fromage dégage toujours un parfum qu’il faut savoir supporter, sinon apprécier.

Dans les caves d’affinage, il règne une température fraîche et un degré d’humidité partout important.

Comme pour tous les produits d’alimentation, des règlements d’hygiène doivent être respectés à la lettre.

Dans les ateliers de fabrication, les techniciens portent des vêtements blancs spéciaux, des gants, un calot, des bottes.

Dans l’industrie laitière, les horaires décalés et le travail durant le week-end ne sont pas à exclure.

En grande surface ou en commerce spécialisé, le <strong>fromager </strong>est un commerçant, salarié ou à son compte.

Métier voisin : opérateur fabrication beurre.
<br>
<br>
          <h5>Études / Formation pour devenir Fromager / Fromagère
</h5>
          
           Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP CIP - conducteur d'installations de production,</li>
	<li>CAP équipier polyvalent de commerce</li>
	<li>CAP crémier fromager&nbsp;</li>
</ul>
<br>
<br>
<h5>niveau bac</h5>

<ul>
	<li>Bac pro BIT - bio-industrie de transformation,</li>
	<li>Bac pro PLP - pilote de ligne de production,</li>
	<li>bac pro technicien conseil-vente en alimentation produits alimentaires&nbsp;</li>
</ul>
<br>
<br>
<h5>niveau bac + 2</h5>

<ul>
	<li>BTSA STA - sciences et technologies des aliments spécialité aliments et processus technologiques,</li>
	<li>BTS PP - pilotage de procédés,</li>
</ul>
<br>
<br>
<h5>niveau bac + 3&nbsp;</h5>

<ul>
	<li>BUT GB - génie biologique</li>
</ul>

Dans le domaine des métiers de bouche, un <strong>crémier fromager</strong> peut se professionnaliser en passant un CQP (certificat de qualification professionnelle) en alternance de vendeur conseil <strong>crèmerie</strong> <strong>fromagerie</strong>.
<br>
<br>
          <h5>Salaires</h5>
          Dans l’industrie laitière, le salaire d'un ouvrier fromager débutant est le S.M.I.C..
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Le technicien <strong>fromager </strong>peut évoluer en fonction de la taille de l’entreprise vers un poste de chef de fabrication ou d’équipe.

Avec de l’expérience, il peut, avec des notions de comptabilité et de gestion, s’installer à son compte en tant qu’artisan fabricant et vendeur de fromages.

</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwelve">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">Glacier</button>
    </h5>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Le <strong>glacier</strong> sélectionne d’abord ses ingrédients de base (lait, sucre, œufs, fruits et pralines), dont il doit connaître les caractéristiques physiques et chimiques s’il veut élaborer une gamme diversifiée de produits (<strong>glaces</strong>, <strong>crèmes glacées</strong>, entremets, <strong>sorbets</strong>…).

Ensuite, le glacier suit un procédé spécifique en fonction des ingrédients et des parfums choisis. Il procède aux mélanges et aux dosages et met en fonctionnement les instruments de réfrigération : turbines à glace, freezer, refroidisseur, cuves de maturation…

Le <strong>glacier </strong>pasteurise les mélanges, dans le respect des règles très strictes d’hygiène et de sécurité alimentaire.

Il procède enfin à diverses opérations techniques : homogénéisation, refroidissement, maturation, congélation, durcissement (pour une crème glacée à - 17 °C). S’il dispose d’un laboratoire, le glacier entrepose ses produits à - 23 °C.

Les conditions de travail d’un <strong>glacier </strong>dépendent beaucoup de son mode d’exercice : salarié (salon de thé, pâtisserie en boutique ou en restaurant), <strong>artisan glacier</strong> fabricant vendant sa propre production, fournisseur de restaurateurs ou de grands distributeurs.

Son imagination de créateur de nouveaux parfums est un facteur important de réussite professionnelle. Minutie, rigueur et sens commercial sont également des qualités à développer.
<br>
<br>
          <h5>Études / Formation pour devenir Glacier
</h5>
          
           Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP glacier fabricant</li>
	<li>CAP pâtissier</li>
	<li>CAP chocolatier-confiseur</li>
	<li>MC (mention complémentaire) pâtisserie, glacerie, chocolaterie, confiserie spécialisée</li>
	<li>MC cuisinier en dessert de restaurant</li>
</ul>
<br>
<br>
<h5>niveau bac</h5>

<ul>
	<li>Bac pro boulanger pâtissier</li>
	<li>BTM (brevet technique des métiers) glacier fabricant</li>
	<li>BTM patissier confiseur glacier traiteur</li>
</ul>
<br>
<br>
<h5>niveau bac + 2</h5>

<ul>
	<li>BM patissier confiseur glacier traiteur</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          Environ le S.M.I.C. pour un glacier salarié débutant.

Entre 1 500 € et 2 000 € brut par mois pour un artisan itinérant, selon la saison et la région.

Les revenus d’un glacier disposant d’une clientèle fidèle de restaurateurs et de traiteurs sont nettement supérieurs.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Un <strong>glacier </strong>peut évoluer dans le mode d’exercice de son métier : marchand ambulant saisonnier, salarié d’un restaurateur, responsable de laboratoire, chef de partie en restauration, artisan fabriquant à son compte (BM ou BTM obligatoire), fournisseur de restaurateurs ou de traiteurs…

</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingThirteen">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">Ingénieur / Ingénieure de recherche produit</button>
    </h5>
    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            <strong>L'ingénieur / l'ingénieure de recherche</strong>, secondé par ses collaborateurs traduit en produit un besoin exprimé par le service marketing en relation directe avec les distributeurs, clients et consommateurs.

<strong>L’ingénieur </strong>est responsable des <strong>projets de recherche</strong>, depuis la pré-étude jusqu'à l'élaboration des modalités industrielles.

Dans un premier temps, il fait des <strong>recherches </strong>bibliographiques et consulte la documentation disponible sur le sujet afin de déterminer l’angle de ses recherches.

Puis en étroite collaboration avec différents départements (analyse, procédés…) il conçoit et expérimente les <strong>prototypes</strong>, les produits et les procédés nouveaux. Il fait réaliser des tests et des analyses par son service ou d’autres services plus spécialisés.

Il supervise le travail, analyse les résultats obtenus, puis rédige un rapport afin de transmettre ses conclusions aux services concernés.

Si l’entreprise décide de lancer une production l<strong>’ingénieur-recherche</strong> est responsable des premières fabrications industrielles, prototypes et pré-séries. Il transmet ensuite les méthodes de fabrication au responsable de la production. Ce savoir-faire est fixé dans un cahier des charges, dans lequel sont indiqués : les paramètres de fabrication et de contrôle, les spécifications des matières premières et du produit fini.

<strong>L’ingénieur de recherche</strong> gère le budget des projets en cours, il fixe des enveloppes budgétaires pour chacun d'eux en tenant compte des attentes du marketing, du prix de revient des matières premières, des coûts de fonctionnement des services.

Cet ingénieur a également une mission de veille technologique : il se tient informé de l'évolution et des produits élaborés par la concurrence.

La connaissance de l'anglais et éventuellement de l'allemand est indispensable, car les deux tiers des publications sont rédigées dans l'une ou l'autre langue.
        <br>
<br>
          <h5>Études / Formation pour devenir Ingénieur / Ingénieure de recherche produit
</h5>
          
           Les ingénieurs de recherche produit sont issus pour la plupart d'écoles d'ingénieurs.

Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau bac + 5&nbsp;</h5>

<ul>
	<li>Diplôme d'ingénieur généraliste avec spécialisation&nbsp;</li>
	<li>Diplôme d'ingénieur spécialisé</li>
</ul>
<br>
<br>
<h5>niveau bac + 6 et &gt;</h5>

<ul>
	<li>Doctorat&nbsp;</li>
	<li>MS (mastère spécialisé)</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          Le salaire mensuel net d’un ingénieur de recherche à ses débuts varie entre 2 300 et 2 800 €.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Après quelques années d’expérience, l’ingénieur de recherche peut devenir directeur recherche et développement. Il peut également s’orienter vers la production, la commercialisation puis accéder, après quelques années, à des postes d'encadrement et de management.
</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFourteen">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">Ingénieur agroalimentaire / Ingénieure agroalimentaire</button>
    </h5>
    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            L’<strong>ingénieur agroalimentaire</strong>&nbsp;/ l'<strong>ingénieure agroalimentaire</strong> gère la transformation des biens <strong>agricoles </strong>en produits destinés à la consommation. Le métier a aujourd'hui un rôle stratégique entre marketing, innovation et gestion des risques.

L'ingénieur agroalimentaire intervient à toutes les étapes de la chaîne de production et peut porter des titres différents selon les fonctions occupées :&nbsp;

<ul>
	<li>L'ingénieur en recherche &amp; développement conçoit les nouveaux produits en liaison avec le service marketing.</li>
	<li>L'ingénieur acheteur sélectionne et négocie les prix des matières premières</li>
	<li>L'ingénieur de fabrication prend en charge la production, organise, coordonne et contrôle la fabrication en termes de qualité, quantité et délais.</li>
	<li>L'ingénieur responsable du <strong>laboratoire </strong>de contrôle organise le programme des essais en atelier-pilote et le passage au stade de la production industrielle.</li>
	<li><strong>L’ingénieur qualité</strong> propose et définit des objectifs qualité avec plan de contrôle, normes, cahier des charges. Son rôle est de plus en plus essentiel.</li>
</ul>

<strong>L’ingénieur de l’industrie agroalimentaire</strong> exerce dans quatre grandes familles d’activités, elles-mêmes divisées en de nombreux secteurs :

<ul>
	<li>la fabrication de biscuits, plats cuisinés, confiserie, glaces et sorbets, sauces,</li>
	<li>la boulangerie-pâtisserie industrielle, conserves de légumes et de fruits, charcuterie, abattage et découpe du bétail et des volailles,</li>
	<li>la fabrication de boissons et alcools,</li>
	<li>les huileries, industries laitières, alimentation animale, meunerie, sucreries.</li>
</ul>
<br>
<br>
          <h5>Études / Formation pour devenir Ingénieur agroalimentaire / Ingénieure agroalimentaire
</h5>
          
           Les ingénieurs en agroalimentaire ont un niveau bac + 5 minimum : diplôme d'ngénieur spécialisé dans l'industrie alimentaire&nbsp; ou agroalimentaire, masters en agroalimentaire (peut aussi convenir pour certaines fonctions). Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau bac + 5</h5>

<ul>
	<li>Diplôme d'ingénieur :&nbsp;ENSAIA (école nationale supérieure d'agronomie et des industries alimentaires), AGROSUP (institut national supérieur des sciences agronomiques de l'alimentation et de l'environnement),&nbsp;ONIRIS (école nationale vétérinaire agro-alimentaire et de l'alimentation),&nbsp;AGROCAMPUS OUEST, INP Toulouse</li>
	<li>Master en IAA - industries agroalimentaires<br>
	Différents parcours :&nbsp;<br>
	gestion des industries agroalimentaires,&nbsp;<br>
	sciences et technologies de l’agriculture, de l’alimentation et de l’environnement,&nbsp;<br>
	maîtrise de la qualité et des risques,&nbsp;<br>
	nutrition et sciences des aliments,&nbsp;<br>
	innovation en industries alimentaires,<br>
	management international agroalimentaire</li>
	<li>Master biosciences, sciences du végétal, écoproduction et biovalorisation (UniLaSalle)</li>
</ul>

Pour plus de détails sur les masters : <a href="www.trouvermonmaster.gouv.fr">www.trouvermonmaster.gouv.fr</a>
<br>
<br>
<h5>niveau bac + 6&nbsp;</h5>

<ul>
	<li>MS (mastère spécialisé) SANH - sciences de l'aliment et nutrition humaine : Oniris</li>
	<li>MS management collaboratif de l'innovation alimentaire : Oniris</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          En début de carrière et selon les entreprises composant l’agro-industrie, un ingénieur débutant gagne entre 2 500 et 3 000 € brut par mois. Des primes annuelles de résultat peuvent exister.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          L’ingénieur peut se spécialiser dans un domaine, il peut aussi devenir directeur d’un établissement de production ou de recherche ou se diriger vers l’enseignement supérieur comme enseignant.
</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFifteen">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">Opérateur / Opératrice de fabrication agroalimentaire</button>
    </h5>
    <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Dans le domaine de l’industrie alimentaire et agroalimentaire (IAA),<strong> l’opérateur.trice de fabrication</strong>&nbsp;<strong>agroalimentaire</strong> transforme, assemble et prépare les produits alimentaires et agroalimentaires. Il.elle peut travailler dans de multiples secteurs : alimentation animale, boissons, boulangerie et pâtisserie industrielle, confiserie, conserves, surgelés, produits laitiers, produits de la mer, viandes..&nbsp;<br>
<br>
Ill.elle prépare, contrôle et pèse les matières premières, surveille leur approvisionnement sur la chaîne de production. Tout au long du process de fabrication, il.elle s’assure du bon suivi de la production (tests, prélèvements et contrôles) et procède in fine à la vérification des produits finis.&nbsp;<br>
<br>
Son rôle est également d’assurer la maintenance de 1er niveau des installations et machines en cas de dysfonctionnements ou de pannes et de veiller en permanence au respect des normes d’hygiène et de sécurité.&nbsp;<br>
<br>
L’opérateur.trice de fabrication agroalimentaire travaille dans des ateliers industriels de fabrication ou sur des chaînes de production, le plus souvent par roulement (2X8, 3X8) avec des pics d’activité dans certains domaines. Le travail s’effectue dans des ateliers où les températures peuvent varier et nécessite le port d’EPI (équipement de protection individuel).&nbsp;
          <h5>Études / Formation pour devenir Opérateur / Opératrice de fabrication agroalimentaire
          
           Métier accessible avec un CAP. Un niveau d’étude&nbsp;plus élevé permet d’évoluer plus rapidement vers des fonctions de chef.fe &nbsp;d’équipe. Le métier est également accessible sans diplôme avec une expérience préalable&nbsp;dans les métiers de bouche. A noter, l’IAA propose également des CS (certificats de spécialisation) et des CQP (certificat de qualification professionnelle). Exemples de formations :&nbsp;
<br>
<br>
<h5>
Niveau CAP</h5>

<ul>
	<li>CAP agricole opérateur en industries agroalimentaires options :&nbsp; transformation de produits alimentaires,&nbsp;conduite de machines</li>
	<li>CAP dans le domaine des métiers de bouche : CAP charcutier-traiteur, CAP boucher, CAP patissier, CAP boulanger, CAP poissonnier écailler</li>
	<li>BPA transformations alimentaires (viandes, lait, produits alimentaires),</li>
</ul>
<br>
<br>
<h5>Niveau bac&nbsp;</h5>

<ul>
	<li>Bac pro BIT -&nbsp; bio-industries de transformation</li>
	<li>Bac pro PCE – procédés de la chimie et de l’eau</li>
	<li>Bac pro PLP - pilote de ligne de production</li>
	<li>Bac pro dans le domaine des métiers de bouche : bac pro boucher-charcutier-traiteur, bac pro boulanger-patissier, bac pro poissonnier-écailler-traiteur,&nbsp;</li>
	<li>BP industries alimentaires</li>
</ul>
<br>
<br>
<h5>Niveau bac + 1</h5>

<ul>
	<li>CS transformation des produits carnés</li>
	<li>CS technicien spécialisé en transformation laitière</li>
	<li>CS production transformation et commercialisation des produits fermiers</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          A partir du SMIC.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Avec de l’expérience, possibilité de devenir chef.fe d’équipe, responsable de ligne de production puis responsable d’unité de production. A terme, l’opérateur.trice de fabrication peut également choisir de s’orienter vers le contrôle qualité.&nbsp;

</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSixteen">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">Ouvrier / Ouvrière d'abattoir</button>
    </h5>
    <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            A l’abattoir, l’<strong>opérateur en transformation des viandes / l'opératrice en transformation des viandes</strong>, ou <strong>ouvrier.ère d'abattoir</strong>, est chargé d'anesthésier puis d'euthanasier l'animal et de le suspendre sur un rail aérien pour la suite des étapes

Toutes les opérations qui suivent sont effectuées par lui.elle : saignée, dépouille du cuir, éviscération, fente de la <strong>carcasse</strong>, désossage, parage de la <strong>viande</strong>, pesée finale, réfrigération.

Ensuite seulement, la <strong>carcasse </strong>est vendue au grossiste et à des <strong>bouchers </strong>détaillants ou transportée dans des ateliers. Elle est <strong>découpée </strong>en morceaux, <strong>désossée </strong>et conditionnée pour la mise sous emballage ou en conserve en fonction de sa destination commerciale.

Son lieu de travail est réfrigéré et le plus souvent humide et imprégné par les odeurs liées au produit traité : viscères, peaux, sang… Il doit opérer rapidement et respecter des consignes de sécurité et d’hygiène très strictes.

Il porte obligatoirement une tenue de travail (tablier de protection, capuchon, bottes, gants) fournie par l’employeur.

C'est un métier difficile qui nécessite une grande résistance physique (charges lourdes, odeurs nauséabondes, espace de travail froid)&nbsp;et psychologique (vue du sang).

Dans les <strong>abattoirs</strong>, la journée commence très tôt, entre 4h et 6h du matin. Les horaires peuvent être différents selon les jours de la semaine.
<br>
<br>
          <h5>Études / Formation pour devenir Ouvrier /  Ouvrière d'abattoir
</h5>
          
           L’ouvrier d’abattoir peut se former directement auprès de son employeur. Cependant un diplôme professionnel&nbsp; facilite l’embauche ou la prise ultérieure de responsabilités. Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP agricole opérateur en industries agroalimentaires (se prépare en apprentissage)</li>
	<li>CAP boucher (normalement destiné à former tripiers, volaillers et bouchers au niveau artisanal),</li>
	<li>CQP (certificats de qualification organisé par la branche) pour les abattoirs de volailles, d’animaux de boucherie et l’industrie charcutière,</li>
	<li>BPA transformations alimentaires, spécialité transformation des viandes,</li>
</ul>
<br>
<br>
<h5>
niveau bac&nbsp;</h5>

<ul>
	<li>Bac pro boucher-charcutier-traiteur,</li>
	<li>Bac pro BIDT -&nbsp;bio-industries de transformation.<br>
	&nbsp;</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          Un ouvrier d’abattoir débutant est généralement embauché au S.M.I.C.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          L’opérateur en transformation des viandes dans une boucherie industrielle peut acquérir des responsabilités au sein de son équipe de travail.

Avec un CAP boucher il peut aussi reprendre une boucherie artisanale.

</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSeventeen">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">Pâtissier / Pâtissière</button>
    </h5>
    <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Le<strong> pâtissier</strong> s'occupe de sa production de A à Z : il prépare la pâte, la garniture, surveille la cuisson<strong> </strong>et crée la décoration.

Il est un fin connaisseur des ingrédients de base (farine, sucre, œuf, laitage, chocolat,…) et de leur utilisation.

Dans un laboratoire ou en cuisine, en respectant les recettes ou en faisant preuve de créativité, le pâtissier exerce ses talents de <strong>glacier</strong>, de <strong>chocolatier </strong>ou de <strong>traiteur</strong>.

Soumis au jeu de la concurrence, il doit fidéliser ses clients. Il peut donc fabriquer aussi des produits salés comme les pizzas, des quiches, des plats cuisinés (service traiteur).

Les horaires de travail varient en fonction de la taille du magasin, de la clientèle et des périodes de l’année. En général, un <strong>pâtissier </strong>est devant ses fourneaux<strong> </strong>très tôt le matin.

Comme tout <strong>artisan</strong>, le pâtissier doit avoir des connaissances en comptabilité et en gestion. Des aptitudes à la vente et un bon sens de la communication sont nécessaires puisqu’il assure souvent la commercialisation des produits qu’il fabrique.

Le <strong>métier de pâtissier</strong> évolue constamment et il doit se tenir informé des tendances et évolutions de production (évolution des techniques de surgélation, de cuissons, cuisine moléculaire…).
<br>
<br>
          <h5>Études / Formation pour devenir Pâtissier / Pâtissière
</h5>
          
           Cette spécialité des métiers de bouche est l’objet de plusieurs formations débouchant sur des diplômes très spécialisés.

Exemples de formations :&nbsp;
<br>
<br>
<h5>Niveau CAP</h5>

<ul>
	<li>CAP pâtissier</li>
	<li>CAP chocolatier-confiseur</li>
	<li>CAP glacier-fabricant</li>
	<li>MC (mention complémentaire) : pâtisserie-glacerie-chocolaterie-confiserie spécialisées( 1 an après CAP)</li>
	<li>MC pâtisserie boulangère</li>
	<li>MC boulangerie spécialisée</li>
	<li>MC cuisinier en dessert de restaurant</li>
</ul>

<h5><strong>N</strong>i<strong>veau bac&nbsp;</strong></h5>

<ul>
	<li>Bac pro boulanger-pâtissier</li>
	<li>BTM pâtissier confiseur glacier traiteur</li>
</ul>
<br>
<br>
<h5>Niveau bac +2</h5>

<ul>
	<li>BM pâtissier confiseur glacier traiteur</li>
</ul>
<br>
<br>
<h5>Niveau bac +3</h5>

<ul>
	<li>Bachelor arts culinaires et entreprenariat option pâtisserie (Ferrandi) pour devenir chef de cuisine en restaurant</li>
</ul>

Pour connaître les adresses des lycées professionnels et des CFA, contacter le CIO. Contacter aussi les organismes professionnels des métiers de l’alimentation et la chambre de métiers et de l’artisanat de son département.
<br>
<br>
          <h5>Salaires</h5>
          Les salaires mensuels bruts peuvent être compris entre le Smic (1 458 &nbsp;€) pour un titulaire de CAP débutant et 1 600 € pour un ouvrier plus qualifié.

Les meilleurs salaires peuvent atteindre 2 300 €. Installé à son compte, l’<strong>artisan pâtissier</strong> peut dégager mensuellement des revenus allant de 2 600 à 4 600 € par mois.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Le <strong>pâtissier </strong>débute sa carrière comme apprenti, puis passe par le stade d’ouvrier, de responsable d’équipe ou devient commerçant indépendant.

Il peut accéder à des postes d’encadrement comme chef de partie, gérant, responsable en grande surface ou responsable de laboratoire.

Certains <strong>pâtissiers </strong>se spécialisent comme chocolatiers-confiseurs ou glaciers. D’autres deviennent traiteurs et proposent des plats du jour, des buffets pour les réceptions.

L’expatriation est aussi une évolution possible en raison de la réputation culinaire française.

</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingHeighteen">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeighteen" aria-expanded="false" aria-controls="collapseHeighteen">Pizzaiolo</button>
    </h5>
    <div id="collapseHeighteen" class="accordion-collapse collapse" aria-labelledby="headingHeighteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Le travail du <strong>pizzaiolo</strong> se décline en une série de gestes professionnels précis.

Pesage de la farine et des ingrédients composant la pâte, mélange, pétrissage à la main ou à la machine, préparation des autres ingrédients en fonction de la commande (sauce tomate, champignons, olives, anchois, etc.), découpe des boules de pâte et étalage, garnissage des fonds de pâte avec les ingrédients voulus et, enfin, enfournage.

Après suivi de la cuisson, le <strong>pizzaiolo </strong>sert directement le client si celui-ci est sur place, confie la <strong>pizza </strong>aux serveurs s’il travaille dans un restaurant, ou bien l’emballe pour une livraison à domicile.

Quel que soit le lieu d’exercice de son métier (<strong>camion pizza</strong>, restaurant, stand spécialisé), le <strong>pizzaiolo </strong>est toujours soumis à un rythme de travail particulier pendant les heures de repas. Il doit assurer les cuissons<strong> </strong>en continu en suivant la cadence et l’ordre des commandes, sur place ou à distance.

Pendant son service, il est exposé en permanence à la chaleur du four.

S’il travaille à son compte, le <strong>pizzaiolo </strong>doit veiller en outre aux approvisionnements et à toutes les obligations qui accompagnent la réception d’une clientèle (accueil, sécurité, comptabilité…).
<br>
<br>
          <h5>Études / Formation pour devenir <span class="field field--name-title field--type-string field--label-hidden">Pizzaiolo</span>
</h5>
          
           Le métier de <strong>pizzaiolo&nbsp;</strong>peut s’exercer sans diplôme, mais certaines formations professionnelles dans le domaine de la cuisine peuvent faciliter l'embauche. Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP cuisine,</li>
	<li>CQP (certificat de qualification professionnelle) commis de cuisine, <strong>pizzaiolo (</strong>Ecole française de <strong>pizzaiolo)</strong></li>
</ul>
<br>
<br>
<h5>niveau bac&nbsp;</h5>

<ul>
	<li>BP arts de la cuisine (en formation professionnelle),</li>
	<li>Bac pro cuisine (un atout pour élargir ses compétences et évoluer dans le métier en s’installant à son compte),</li>
	<li>Bac pro commercialisation et services en restauration,</li>
</ul>

Quelques stages de formation existent également en&nbsp;écoles privées.
<br>
<br>
          <h5>Salaires</h5>
          Entre le S.M.I.C. et 2 000 € brut par mois environ pour un <strong>pizzaiolo </strong>débutant. Les revenus varient en fonction du statut (à son compte ou salarié), de l’implantation et de la clientèle.

Attention, il convient de prévoir un investissement matériel de départ.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          S’il est expérimenté, un pizzaiolo salarié peut choisir de s’installer à son compte, à condition de bien choisir son lieu d’implantation. Il peut aussi diversifier ses activités (crêperie, sandwhicherie).

Il peut aussi exercer dans une structure collective, ou bien élargir ses compétences pour devenir cuisinier traditionnel.

</div>
      </div>
    </div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingNineteen">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">Poissonnier / Poissonnière</button>
    </h5>
    <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingNineteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Dans l'industrie agroalimentaire, le<strong>&nbsp;préparateur de recettes </strong>assure une étape de la fabrication d'un produit (pétrissage, découpe, cuisson, mise en barquette.. ). Il<strong>&nbsp;</strong>opère manuellement ou le plus souvent sur des machines automatisées devant un clavier composé de commandes et de codes spécifiques correspondant à l’ouverture des vannes des différents ingrédients (chocolat, sucre, parfums, extraits de fruits, etc.) composant le produit final.

Il vérifie que les proportions prévues de chaque <strong>ingrédient </strong>sont bien respectées pour fabriquer<strong> crèmes déserts</strong>, <strong>sauces </strong>ou <strong>gâteaux</strong>.

Le <strong>préparateur </strong>peut détecter une panne, éviter une erreur d’acheminement ou évaluer un dysfonctionnement quelconque.

Il maîtrise donc les codes de commande et le langage informatique approprié et applique des règles d’hygiène et de sécurité impératives pour toute fabrication alimentaire.

C’est aussi un travail de précision. Même si les quantités de produits sont énormes certains arômes sont injectés au gramme près. Le préparateur est responsable de son circuit. Il dispose d’une certaine latitude d’action.

Le métier demande une bonne capacité d’adaptation car beaucoup de recettes changent souvent et donc aussi le travail du préparateur.

Malgré l’automatisation du processus de production, l’intervention humaine reste indispensable en raison de la concentration permanente nécessaire pour déceler erreurs d’aiguillage ou pannes toujours possibles.

Dans les grosses unités de production, le travail est organisé en 3 x 8 avec les contraintes horaires que cela implique. Le <strong>préparateur de recettes</strong> porte des EPI tant pour des raisons d'hygiène que de sécurité.&nbsp;
<br>
<br>
          <h5>Études / Formation pour devenir Préparateur / Préparatrice de recettes
</h5>
          
           Plusieurs formations techniques professionnelles en formation initiale, en apprentissage, en contrat de professionnalisation, en formation continue ou par le biais de la VAE peuvent préparer à cette spécialité de l’industrie agroalimentaire.<br>
<br>
Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP dans le domaine des métiers de bouche : CAP charcutier-traiteur, CAP boucher, CAP patissier, CAP boulanger, CAP poissonnier écailler</li>
	<li>CAP CIP - conducteur d'installations de production</li>
	<li>CAP agricole opérateur en industries agroalimentaires</li>
	<li>CAP mareyage</li>
	<li>CAPA industrie agroalimentaire spécialité ouvrier polyvalent du travail industriel des viandes</li>
	<li>BPA transformations alimentaires (viandes, lait, produits alimentaires)</li>
</ul>
<br>
<br>
<h5>niveau bac</h5>

<ul>
	<li>Bac pro PCE - procédés de la chimie, de l'eau et des papiers cartons</li>
	<li>Bac pro BIT - bio-industrie de transformation</li>
	<li>Bac pro PLP - pilote de ligne de production</li>
	<li>Bac pro dans le domaine des métiers de bouche : bac pro boucher-charcutier-traiteur, bac pro boulanger-patissier, bac pro poissonnier-écailler-traiteur&nbsp;</li>
	<li><span>BP industries alimentaires</span></li>
</ul>
<br>
<br>
<h5>niveau bac + 2</h5>

<ul>
	<li>BTS PP - pilotage des procédés&nbsp;</li>
	<li>BTSA STA - science et technologie des aliments</li>
</ul>

Certains diplômes concernent plus particulièrement l’industrie laitière :

- Certificat de spécialisation (CS) technicien spécialisé en transformation laitière
<br>
<br>
          <h5>Salaires</h5>
          Autour du S.M.I.C. pour un débutant. Lorsque le processus de production est en continu des primes de nuit s’ajoutent au salaire de base.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Avec de l’expérience et des formations complémentaires de type BTS, le préparateur de recettes peut évoluer vers un poste de conducteur de ligne de production alimentaire, devenir chef d'équipe ou responsable d'unité de fabrication.

          </div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwenty">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">Préparateur / Préparatrice de recettes</button>
    </h5>
    <div id="collapseTwenty" class="accordion-collapse collapse" aria-labelledby="headingTwenty" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Dans l'industrie agroalimentaire, le<strong>&nbsp;préparateur de recettes </strong>assure une étape de la fabrication d'un produit (pétrissage, découpe, cuisson, mise en barquette.. ). Il<strong>&nbsp;</strong>opère manuellement ou le plus souvent sur des machines automatisées devant un clavier composé de commandes et de codes spécifiques correspondant à l’ouverture des vannes des différents ingrédients (chocolat, sucre, parfums, extraits de fruits, etc.) composant le produit final.

Il vérifie que les proportions prévues de chaque <strong>ingrédient </strong>sont bien respectées pour fabriquer<strong> crèmes déserts</strong>, <strong>sauces </strong>ou <strong>gâteaux</strong>.

Le <strong>préparateur </strong>peut détecter une panne, éviter une erreur d’acheminement ou évaluer un dysfonctionnement quelconque.

Il maîtrise donc les codes de commande et le langage informatique approprié et applique des règles d’hygiène et de sécurité impératives pour toute fabrication alimentaire.

C’est aussi un travail de précision. Même si les quantités de produits sont énormes certains arômes sont injectés au gramme près. Le préparateur est responsable de son circuit. Il dispose d’une certaine latitude d’action.

Le métier demande une bonne capacité d’adaptation car beaucoup de recettes changent souvent et donc aussi le travail du préparateur.

Malgré l’automatisation du processus de production, l’intervention humaine reste indispensable en raison de la concentration permanente nécessaire pour déceler erreurs d’aiguillage ou pannes toujours possibles.

Dans les grosses unités de production, le travail est organisé en 3 x 8 avec les contraintes horaires que cela implique. Le <strong>préparateur de recettes</strong> porte des EPI tant pour des raisons d'hygiène que de sécurité.&nbsp;
<br>
<br>
          <h5>Études / Formation pour devenir Préparateur / Préparatrice de recettes
</h5>
          
           Plusieurs formations techniques professionnelles en formation initiale, en apprentissage, en contrat de professionnalisation, en formation continue ou par le biais de la VAE peuvent préparer à cette spécialité de l’industrie agroalimentaire.<br>
<br>
Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP dans le domaine des métiers de bouche : CAP charcutier-traiteur, CAP boucher, CAP patissier, CAP boulanger, CAP poissonnier écailler</li>
	<li>CAP CIP - conducteur d'installations de production</li>
	<li>CAP agricole opérateur en industries agroalimentaires</li>
	<li>CAP mareyage</li>
	<li>CAPA industrie agroalimentaire spécialité ouvrier polyvalent du travail industriel des viandes</li>
	<li>BPA transformations alimentaires (viandes, lait, produits alimentaires)</li>
</ul>
<br>
<br>
<h5>niveau bac</h5>

<ul>
	<li>Bac pro PCE - procédés de la chimie, de l'eau et des papiers cartons</li>
	<li>Bac pro BIT - bio-industrie de transformation</li>
	<li>Bac pro PLP - pilote de ligne de production</li>
	<li>Bac pro dans le domaine des métiers de bouche : bac pro boucher-charcutier-traiteur, bac pro boulanger-patissier, bac pro poissonnier-écailler-traiteur&nbsp;</li>
	<li><span>BP industries alimentaires</span></li>
</ul>
<br>
<br>
<h5>niveau bac + 2</h5>

<ul>
	<li>BTS PP - pilotage des procédés&nbsp;</li>
	<li>BTSA STA - science et technologie des aliments</li>
</ul>

Certains diplômes concernent plus particulièrement l’industrie laitière :

- Certificat de spécialisation (CS) technicien spécialisé en transformation laitière
<br>
<br>
          <h5>Salaires</h5>
          Autour du S.M.I.C. pour un débutant. Lorsque le processus de production est en continu des primes de nuit s’ajoutent au salaire de base.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Avec de l’expérience et des formations complémentaires de type BTS, le préparateur de recettes peut évoluer vers un poste de conducteur de ligne de production alimentaire, devenir chef d'équipe ou responsable d'unité de fabrication.

</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwentyone">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyone" aria-expanded="false" aria-controls="collapseTwentyone">Préparateur / Préparatrice en produits de la mer</button>
    </h5>
    <div id="collapseTwentyone" class="accordion-collapse collapse" aria-labelledby="headingTwentyone" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            La matière première traitée par le <strong>préparateur en produits de la mer</strong> est très diverse : <strong>poissons </strong>de toutes sortes, <strong>crustacés</strong>, <strong>coquillages</strong>.

Il s’agit de denrées fragiles qui doivent être traitées rapidement. Manutentionner, trier par espèces, tailles, qualités, peser, stocker sont les actions de base.

Le <strong>préparateur </strong>opère sur une chaîne de production et alimente le convoyeur en marchandises préparées pour la vente au consommateur.

Sur la chaîne, il étête, pelle, tranche en filets ou en darnes, écaille manuellement ou avec une machine, désarête, lave les filets à l’eau de mer ou douce selon les espèces.

Le préparateur conditionne, emballe en caisse, recouvre les produits avec un film <strong>alimentaire </strong>isolant, procède au glaçage, ferme les caisses et transmet à l’expéditeur pour les acheminer sur les lieux de vente (<strong>poissonneries</strong>, <strong>grandes surfaces</strong>, étals de <strong>marchés</strong>).

Le processus s’est beaucoup mécanisé : bacs à roulettes, affûteurs électriques, trancheurs, écailleurs, douchettes, peleuses, désarêteuses, machines à glace… sont désormais les outils du préparateur. Les cagettes en plastiques et les caisses en polystyrène allègent aussi les charges.

Les conditions de travail restent rudes malgré tout : station debout, odeurs fortes, froid, humidité, parfois horaires nocturnes. Le souci d’hygiène est aussi omniprésent.

Le <strong>préparateur </strong>termine souvent sa journée par le nettoyage des locaux et des équipements.
<br>
<br>
          <h5>Études / Formation pour devenir Préparateur / Préparatrice en produits de la mer
          
           Les formations professionnelles préparant à ce métier ne sont pas nombreuses. Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau CAP</h5>

<ul>
	<li>CAP poissonnier-écailler&nbsp;</li>
</ul>
<br>
<br>
<h5>niveau bac</h5>

<ul>
	<li>Bac pro poissonnier écailler traiteur.</li>
</ul>

A noter également le&nbsp;certificat de qualification professionnelle suivant&nbsp;:&nbsp;

<ul>
	<li>CQP Préparateur-Vendeur en Produits de la Mer</li>
</ul>
<br>
<br>
          <h5>Salaires</h5>
          Légèrement au-dessus du SMIC, aux environs de 1 500 €, pour un débutant. Son niveau de qualification et sa position hiérarchique (agent de maîtrise) impliquent un salaire compris entre 1 800 et&nbsp;&nbsp;2 000 €.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Des évolutions professionnelles sont possibles : employé, agent de maîtrise, chef d’équipe, cadre d’exploitation. En fonction de la conjoncture l’installation à son compte comme mareyeur spécialisé est possible. Une formation complémentaire est indispensable.

</div>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwentytwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentytwo" aria-expanded="false" aria-controls="collapseTwentytwo">Qualiticien / Qualiticienne</button>
    </h5>
    <div id="collapseTwentytwo" class="accordion-collapse collapse" aria-labelledby="headingTwentytwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Par définition, la <strong>démarche qualité</strong> est transversale à plusieurs secteurs d’activité, industries et services : automobile, aéronautique, industrie pharmaceutique, agroalimentaire, transports, assurances, etc. C'est pour cela que l'on retrouve&nbsp;des<strong> assistants qualité</strong>&nbsp;ou <strong>techniciens contrôle qualité, des responsables qualité </strong>et parfois <strong>des directeurs qualité (pour les entreprises de grande taille)&nbsp;</strong>dans de très nombreux secteurs.

Le<strong> qualiticien / la qualiticienne</strong> travaille en lien avec la direction générale et tous les responsables opérationnels : recherche-développement, méthodes, production&nbsp;Son rôle est central pour obtenir une certification et un label qualité pour les produits de l’entreprise.

Le<strong> technicien qualité</strong> contrôle et certifie que les produits et services sont conformes aux exigences qualité (normes, cahier des charges). Il met en oeuvre les procédures qualités (contrôles et tests, indicateurs d'évaluation...) et rédige des rapports d'activité.&nbsp;En cas de besoin, il élabore des opérations correctives ou préventives. S’il y a défaillance, il en analyse les causes, il propose des solutions et les communique aux services concernés. Au stade du produit fini, il en valide la conformité par rapport au<strong>&nbsp;</strong>cahier des charges initial, aux normes et aux réglementations.&nbsp;

<strong>Le responsable qualité </strong>définit la politique qualité, supervise et pilote sa mise en application par ses équipes (techniciens et contrôleurs&nbsp;qualité). Il assure en parallèle, une veille normative et réglementaire et des actions de sensibilisation et de formation auprès des personnels.&nbsp;

<strong>Le directeur qualité à</strong> une vision plus transverse de la démarche qualité dans une entreprise. Il s'assure de la cohérence de cette dernière entre les différentes structures et directions, mène des études prospectives (évolution de la démarche qualité à moyen et long terme, moyens RH/financiers/matériels&nbsp;à déployer pour sa bonne réalisation...). Quand cette fonction existe au sein d'une entreprise, le directeur qualité fait souvent partie du comité de direction.&nbsp;

<strong>L'auditeur qualité</strong> réalise des audits d'évaluation et d'habilitation dans les domaines QHSE. A partir de documents internes et de visites terrain, il contrôle la conformité des produits, services et procédures. Il rédige ses conclusions dans un rapport d'audit et propose si besoin&nbsp;est des axes d'améliorations et de progrès. Il peut réaliser des audits internes pour le compte de l'entreprise qui l'emploie ou des audits externes pour un organisme certificateur.

Le <strong>qualiticien </strong>effectue surtout un travail de bureau et de laboratoire. Néanmoins, des visites de terrain et des sites de production font aussi partie de son quotidien.
<br>
<br>
          <h5>Études / Formation pour devenir Qualiticien / Qualiticienne
</h5>
          
           Un niveau bac + 2 / + 3 (spécifique au&nbsp;secteur d'activité ou dans les domaines qualité ou QHSE)&nbsp;est le minimum requis. La plupart des qualiticiens en charge d'encadrement et de responsabilités ont généralement un diplôme d'ingénieur, un master voire un mastère spécialisé.<br>
<br>
Exemples de formations :&nbsp;
<br>
<br>
<h5>niveau bac + 2</h5>

<ul>
	<li>BTS bioqualité&nbsp;</li>
	<li>BTS bioanalyses et contrôles</li>
</ul>
<br>
<br>
<h5>niveau bac + 3 (licence pro dans un secteur d'activité particulier)</h5>

<ul>
	<li>BUT QLIO - qualité logistique industrielle et organisation</li>
	<li>BUT MP - mesures physiques</li>
	<li><span>Licence professionnelle&nbsp;métiers de l'industrie :&nbsp;conception de produits industriels</span></li>
	<li><span>Licence professionnelle&nbsp;métiers de l'industrie : conception et amélioration de processus et procédés industriels<br>
	Différents parcours : lean manufacturing et amélioration continue&nbsp;</span>(université de Caen Normandie)</li>
	<li><span>Licence professionnelle métiers de l'industrie : conception et processus de mise en forme des matériaux</span></li>
	<li><span>Licence professionnelle métiers de l'industrie : industrie aéronautique</span></li>
	<li><span>Licence professionnelle métiers de l'industrie : gestion de la production industrielle</span></li>
	<li><span>Licence professionnelle métiers de l'industrie : industrie navale et maritime</span></li>
	<li><span>Licence professionnelle métiers de l'industrie : logistique industrielle</span></li>
	<li><span>Licence professionnelle métiers de l'industrie : mécanique</span></li>
	<li><span>Licence professionnelle métiers de l'industrie : mécatronique/robotique</span></li>
	<li><span>Licence professionnelle&nbsp;métiers de l'industrie : métallurgie/mise en forme des matériaux et soudage</span></li>
	<li><span>Licence professionnelle industries pharmaceutiques, cosmétologies et de santé : gestion, production et valorisation&nbsp;</span><br>
	Différents parcours :&nbsp;<br>
	Analyses, contrôle et expertise dans la chimie et les industries chimiques (ACE), Qualité de la production des produits pharmaceutiques et cosmétiques,</li>
	<li><span>Licence professionnelle</span> métiers de la qualité<br>
	Différents parcours : QSE (université de Franche Comté), management de la qualité de service / contrôle qualité et management des processus industriels (Université de Toulouse), contrôle qualité des produits alimentaires (Université de Bretagne Sud), gestion de la qualité (université de Lille), management des entreprises de qualité (université de Strasbourg)</li>
	<li><span>Licence professionnelle</span> QHSSE - qualité, hygiène, sécurité, santé, environnement&nbsp;<br>
	Différents parcours :&nbsp;<br>
	Bio-analyses et qualité pour les laboratoires de biologie médicale,<br>
	MQSE management de la qualité de la sécurité de l'environnement,<br>
	systèmes de management qualité en filière viti-vinicole<br>
	management de la QSE (université de Caen Normandie)</li>
	<li><span>Licence professionnelle</span> conception et contrôle des procédés&nbsp;<br>
	Différents parcours : oenocontrôle</li>
	<li><span>Licence professionnelle</span> métiers de la mer&nbsp;<br>
	Différents parcours : AQUAVAL - valorisation des produits de la mer</li>
	<li><span>Titre d'Animateur Qualité, Sécurité, Santé au travail et Environnement</span></li>
	<li><span>Licence professionnelle chimie analytique, contrôle, qualité, environnement</span></li>
</ul>
<br>
<br>
<h5><span>niveau bac + 4</span></h5>

<ul>
	<li><span>Titre de responsable qualité environnement sécurité (Aforp)</span></li>
</ul>
<br>
<br>
<h5>niveau bac + 5 et &gt;</h5>

<ul>
	<li>Master : manager QSE Toulouse ;&nbsp;QSE UPEM, université de Franche Comté ;&nbsp;qualité, environnement et sécurité dans l’industrie et les services Université de Bourgogne ;&nbsp;MQSE Essym, Paris Saclay</li>
	<li>Diplôme d'ingénieur :&nbsp;CESI, ENSAM, AgroParisTech, Bordeaux sciences agro, les ITI (institut des techniques d'ingénieur de l'industrie), l’UTC, EILCO/ULCO, Polytech Angers, ESIAB, INSA, institut polytechnique UniLaSalle, CNAM...</li>
	<li>Mastère spécialisé MQRVal (EBI)</li>
</ul>

Plus de détails sur les masters :&nbsp;<a href="www.trouvermonmaster.gouv.fr">www.trouvermonmaster.gouv.fr</a>

La plupart délivrent des mastères spécialisés dans un ou plusieurs secteurs de production où les suivis « qualité » sont devenus indispensables, voire obligatoires. Tous les établissements recrutent sur concours maths sup/spé. Certains sont ouverts aux titulaires de BTS, de licences ou de master pro par le biais des admissions parallèles.&nbsp;
<br>
<br>
          <h5>Salaires</h5>
          Selon le niveau de qualification, le secteur d’activité et l’entreprise, le salaire mensuel d’un qualiticien débutant est compris dans la fourchette 1 500 / 2 400 € brut.

Un ingénieur confirmé responsable d’une équipe gagne entre 3 800 et 4 000 € par mois.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Le technicien qualité ou qualiticien peut après quelques années d'expérience évoluer vers un poste de responsable qualité, responsable environnement, responsable de la gestion des risques, chargé d'études en organisation.

Au sein d’un cabinet de consultant, il peut vendre des prestations qualité à des entreprises clientes.

</div>
</div>
      </div>
    </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwentythree">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentythree" aria-expanded="false" aria-controls="collapseTwentythree">Technicien / Technicienne biologiste</button>
    </h5>
    <div id="collapseTwentythree" class="accordion-collapse collapse" aria-labelledby="headingTwentythree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body-box">
          <div class="element-left">

        
          <h5>Description métier</h5>
          
            Le.la<strong> technicien.ne biologiste</strong> réalise, à partir de protocoles préalablement définis, des analyses&nbsp;qui utilisent un ensemble de techniques propre à un domaine (cultures, dosages biologiques, techniques histologiques, immunologiques, biochimiques, biologie moléculaire).&nbsp;

Il.elle contrôle dans un premier temps la qualité des matières premières à analyser, met les échantillons en culture et procéde aux analyses conformément aux protocoles définis.&nbsp;

Puis il.elle rassemble les résultats, les met en forme, rédige les comptes-rendus&nbsp;puis les saisit au sein d'un LIMS (laboratory information management system), système de gestion de l'information spécifique de laboratoire.

Le.la technicien.ne biologiste est chargé.également chargé de la maintenance et de l'étalonnage des appareils de mesure.&nbsp;

Il.elle applique, en situation de travail, des règles d’hygiène et de sécurité et celles spécifiques à la manipulation de certains produits.

Le technicien biologiste doit savoir consulter et exploiter une documentation technique, parfois complexe et lire, avec une bonne compréhension, l’anglais technique du domaine.

Dans un <strong>laboratoire </strong>de recherche et développement, le <strong>technicien biologiste </strong>est encadré par un ingénieur biologiste ou un docteur en pharmacie&nbsp;qui ont la responsabilité, importante, des résultats.

Par exemple, créer un nouveau médicament ou un nouveau yaourt demande de nombreuses manipulations : il faut réaliser des <strong>analyses biologiques</strong>&nbsp;pour s'assurer que le produit répond aux normes, contrôler l'acidité, la texture, bref, l'analyser à chaque étape de sa fabrication.

Ce technicien <strong>biologiste</strong> doit posséder une connaissance opérationnelle des technologies mises en œuvre dans l’appareillage (optique, automatisme, micro-informatique, mécanique). Il doit situer son intervention dans une procédure plus large et collaborer avec les autres intervenants. Il doit aussi connaître les risques chimiques, biologiques<strong> </strong>liés aux produits, matériels et techniques utilisés ainsi que les réglementations de sécurité adaptées aux produits à risque et les transposer aux situations de travail.

Les<strong> techniciens biologistes</strong> travaillent surtout pour la <strong>biologie médicale</strong>, l’industrie agroalimentaire, pharmaceutique ou cosmétique&nbsp;et la recherche liée à ces domaines industriels et scientifiques.&nbsp;Il.elle intervient enfin dans le traitement des eaux et la valorisation de certains déchets.
<br>
<br>
          <h5>Études / Formation pour devenir Technicien / Technicienne biologiste
</h5>
          
           La profession est très hétérogène et il n'est pas rare de trouver à un poste de technicien des diplômés d'origine assez diverses. Les formations les plus courantes sont les BTS et BUT.<br>
<br>
Exemples de formations :&nbsp;

<h5><span>niveau bac + 2&nbsp;</span></h5>

<ul>
	<li>BTS ABM - analyses de biologie médicale</li>
	<li>BTS biophysicien de laboratoire</li>
	<li>BTSA Anabiotec - analyses agricoles, biologiques et biotechnologiques</li>
	<li>DEUST biotechnologies</li>
	<li>DEUST TLM - technicien de la mer et du littoral parcours VPBA - valorisation et production de bio ressources aquatiques</li>
	<li>DEUST ABM - analyses des milieux biologiques</li>
	<li>BTS &nbsp;bioanalyses et contrôles</li>
	<li>BTS biotechnologies</li>
	<li>BTS métiers de la chimie</li>
	<li>BTS Bioqualité&nbsp;</li>
</ul>

D’autres BTS peuvent également être pris en compte dans des domaines industriels comme les labos des industries alimentaires.
<br>
<br>
<h5>niveau bac + 3</h5>

<ul>
	<li><span>BUT (ex. DUT) GB -&nbsp;génie biologique options : analyses biologiques et biochimiques (ABB), industries agroalimentaires et biologiques (IAB), génie de l'environnement (GE)</span></li>
	<li><span><span>BUT (ex. DUT)&nbsp;</span><span>GC&nbsp;GP -&nbsp;génie chimique, génie des procédés options procédés ou bio procédés</span></span></li>
	<li>Licence professionnelle biologie analytique et expérimentale<br>
	Différents parcours&nbsp;: animal, végétal</li>
	<li>Licence professionnelle chimie analytique contrôle qualité environnement<br>
	Différents parcours : MTACB - méthodes et techniques&nbsp;d'analyses chimiques et biologiques (Aix Marseille Université), bioanalyse et qualité pour les laboratoires d'analyses médicales,</li>
	<li>Licence professionnelle bio-industries et biotechnologies.<br>
	Différents parcours : métiers de la biotechnologie, génie biologique, microscopique et qualité, culture de tissus et de cellules et biologie moléculaires</li>
	<li>Licence professionnelle métiers de la qualité<br>
	Différents&nbsp;parcours : laboratoires de biologie médicale et établissements de santé</li>
	<li>Licence professionnelle métiers de la mer<br>
	Différents parcours : Aquaval - valorisation des produits de la mer</li>
	<li>DE de technicien de laboratoire médical (pour exercer dans le milieu médical),</li>
	<li>Licence sciences de la vie</li>
</ul>

        <br>
<br>
          <h5>Salaires</h5>
          Le salaire mensuel brut de début de carrière d'un technicien <strong>biologiste </strong>est d’environ 1 550 € pour un titulaire d’un bac + 2.

Selon les industries et les entreprises concernées les salaires peuvent être assez différents.
<br>
<br>
          <h5>Evolutions de carrière</h5>
          Avec plusieurs années d’expérience, le <strong>technicien biologiste </strong>peut devenir responsable d’une équipe puis (rarement) d’un laboratoire. Par le biais de la formation continue, il peut entreprendre une formation d’ingénieur.


</div>
        </div>
      </div>
    </div>
</div>
